@charset "UTF-8";
/* reset css v2.0  20110126 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* 全局設定 */
html {
  height: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: red;
}

.content_box.h100per {
  height: 100%;
}

.space_top_box {
  width: 100%;
  height: 100px;
}

.space_height_box {
  width: 100%;
  height: 10px;
}

.off {
  display: none;
}

.on {
  display: block;
}

.text_l {
  text-align: left;
}

.text_c {
  text-align: center;
}

.text_r {
  text-align: right;
}

form {
  width: 100%;
}
/* 隔開使用 */
.divspace{
  width: 100%;
  height: 1.5rem;
}

@media (max-width: 700px) {
  .space_height_box {
    height: 5px;
  }
}


/*全螢幕置中 Flexbox引用 ie 10 + */
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox.fjc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox.fac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/********************************************************************/
/*
RWD自定義字體樣式
html{font-size:calc(最小字級 + (最大字級-最小字級) * (100vw - 視窗最小寬度) / (視窗最大寬度-視窗最小寬度));}
*/
html {
  font-size: 16.5px;
  font-size: calc(16.5px + (16.5 - 16.5) * (100vw - 1921px) / (4000 - 1921));
  line-height: 18px;
}

@media (max-width: 1900px) {
  html {
    font-size: 16px;
    font-size: calc(16px + (16.5 - 16) * (100vw - 1301px) / (1920 - 1601));
    line-height: 16px;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 15.7px;
    font-size: calc(15.7px + (16 - 15.7) * (100vw - 1301px) / (1600 - 1301));
    line-height: 14px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 12px;
    font-size: calc(12px + (15.7 - 12) * (100vw - 1001px) / (1300 - 1001));
    line-height: 12px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
    font-size: calc(12px + (12 - 12) * (100vw - 701px) / (1000 - 701));
    line-height: 12px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
    font-size: calc(12px + (12 - 12) * (100vw - 320px) / (700 - 320));
    line-height: 12px;
  }
}

p, pre {
  font-size: 0.8rem;
  line-height: 1rem;
  white-space: inherit;
  word-wrap: break-word;
  margin: 3px 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  line-height: 1.4rem;
}

h4 {
  font-size: 0.85rem;
  line-height: 1.2rem;
}

h5 {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.text {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.text.s1 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text.s2 {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.text.s3 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.text.s4 {
  font-size: 0.8rem !important;
  line-height: 1.4rem;
}

.text.lh, .text.s1.lh, .text.s2.lh, .text.s3.lh, .text.s4.lh {
  line-height: 1.9rem;
}

.title {
  font-size: 1rem;
  line-height: 1.3rem;
}

.title.s1 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.title.s2 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.title.s3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.title.s4 {
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.title.s5 {
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.title.lh {
  line-height: 2rem;
}

.title.s1.lh {
  line-height: 3.9rem;
}

.title.s2.lh {
  line-height: 2.8rem;
}

.title.s3.lh {
  line-height: 2.3rem;
}

.title.s4.lh {
  line-height: 2rem;
}

.fwl {
  font-weight: lighter;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

.fwbr {
  font-weight: bolder;
}

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

/********************************************************************/
/* 全局設定 字體：跨系統英中復合字體 - 可於本機端瀏覽 */
body {
  font-family: 'helvetica', 'arial', 'Microsoft JhengHei', 'Heiti TC', 'sans-serif';
  font-weight: bold;
  color: #333;
}

/* 全局輸入框：預設字體集與移除瀏覽器預設樣式 */
input, select, option, label, textarea, button, placeholder, span, .placeholder {
  font-family: 'helvetica', 'arial', 'Microsoft JhengHei', 'Heiti TC', 'sans-serif';
  border: 0;
  outline: none;
  margin: 0;
  border-width: 0;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-moz-submit-invalid {
  box-shadow: none;
}

input:-moz-ui-invalid {
  box-shadow: none;
}

button:focus {
  outline: 0;
}

/* 全局輸入框：預設框架 */
/* .input_border {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #757575;
  background: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
} */

.input_padding {
  padding: 0 0;
}

input {
  /* width: 100%; */
  padding: 2px 3px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #666666;
  /* height: 28px; */
  margin-right: 3px;
}

textarea {
  overflow-y: hidden;
  width: 90%;
  width: calc(100% - (10px) * 2);
  min-height: 40px;
  padding: 2px 3px;
  border: 1px solid #666666;
  background-color: transparent;
  line-height: 1.5rem;
}
/* input 輸入時有x按鈕 */
.clearable{
  background: #fff url("../../shigen/images/feature-list/mJotv.gif") no-repeat right -10px center;
  padding: 2px 18px 2px 3px;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

/* 全局輸入框：select 預設框架(含解ie) */
.select_box {
  position: relative;
  width: 100%;
}

select {
  /* width:100%; */
  height: 20px;
  margin: 0;
  padding: 2px 3px;
  cursor: pointer;
  border: 1px solid #666666;
  background: url("../images/general/input_icon_select.svg") no-repeat scroll transparent;
  background-color: transparent;
  background-position: 100% 50%;
  background-size: 28px 28px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 25px;
}

select::-ms-expand {
  display: none;
}

/* 全局輸入框：核取選項 預設框架(含解ie) */
.checkbox_box {
  position: relative;
  z-index: 1;
  padding: 0 0 0 0;
  margin-top: 3px;
  margin-right: 10px;
}

.checkbox_box input {
  width: auto;
}

/* 全局輸入框：核取選項 共通樣式 */
.checkbox_box input[type=checkbox]:not(old), .checkbox_box input[type=radio]:not(old) {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.checkbox_box input[type=checkbox]:not(old) + label, .checkbox_box input[type=radio]:not(old) + label {
  display: inline-block;
  padding-left: 20px;
  height: 21px;
  cursor: pointer;
  background: url("../images/general/input_icon_checks.svg") no-repeat;
  background-size: 21px 84px;
  word-break: break-all;
  font-size: 12px;
}

/* 全局輸入框：核取選項 checkbox 核取方塊 */
.checkbox_box input[type=checkbox]:not(old) + label {
  line-height: 22px;
  background-position: -4px -42px;
}

.checkbox_box input[type=checkbox]:not(old):checked + label {
  background-position: -4px -63px;
}

/* 全局輸入框：核取選項 radio 選項按鈕 */
.checkbox_box input[type=radio]:not(old) + label {
  line-height: 22px;
  background-position: -4px -1px;
}

.checkbox_box input[type=radio]:not(old):checked + label {
  background-position: -4px -22px;
}

/* 全局輸入框：日期選擇器 預設框架 */
.data_time {
  cursor: pointer;
  background-image: url(../images/general/input_icon_date.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  padding-right: 25px;
  color: #333;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
  height: auto;
}

@media (min-width: 1001px) {
  .checkbox_box input[type=checkbox]:not(old) + label, .checkbox_box input[type=radio]:not(old) + label {
    padding-left: 15px;
  }
}

/* 全局輸入框：預設文字顏色 */
.placeholder {
  color: #999;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

select {
  color: #999;
  background-color: #ffffff;
}

/* 全局輸入框：動作事件顏色 */
input, textarea {
  color: #333;
  background-color: #ffffff;
}

select.color_change {
  color: #333;
}

.data_time.color_change {
  color: #333;
}

.date_interval.color_change {
  color: #333;
}

/********************************************************************/
/* 全局 button 預設值 */
button {
  height: 30px;
  border-radius: 5px;
  background-color: #000;
  /* -webkit-box-shadow: 0px 2px 0px #bbbbbb;
          box-shadow: 0px 2px 0px #bbbbbb; */
}

.btn, div.btn {
  height: 22px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 1px solid #333;
  -webkit-appearance: none;
}

.btn {
  padding: 3px 15px;
}

div.btn {
  padding: 10px;
}

.td_input .btn {
  height: 30px;
  padding: 2px 5px;
  font-size: 16px;
}
.btn:active, div.btn:active {
  position: relative;
  z-index: 99;
  top: 1px;
  left: 0;
}



.btn:hover {
  /* background-color: #fff; */
  color: #fff;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}
.btn-primary{
  color: #fff;
  border: 1px solid #4B9482;
  background-color: #4B9482;
}
.btn-primary:hover{
  background-color: rgb(66, 129, 114);
  border: 1px solid #4B9482;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background-color: rgb(66, 129, 114);
  border: 1px solid #4B9482;
}

.btn-disable {
  background-color: #ccc;
  color: #ddd;
  border-color: #ccc;
}

.btn-disable:hover {
  background-color: #ccc;
  color: #ddd;
}

/* 全局 button 配色 */
.bt_color_off, div.bt_color_off {
  color: #666;
  border-color: #757575;
  background-color: #eee;
}

.bt_color_off:hover {
  background-color: red;
  color: #fff;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}

@media (max-width: 1000px) {
  .btn, div.btn {
    margin: 10px 0;
  }
}

.btn-secondary {
  border: 1px solid #999999;
  background-color: #fff;
  color: #555 !important;
 
}

.btn-secondary:hover {
  color: #555;
  background-color: #fff;
}
.btn-Chick {
  border: 1px solid #CBC299!important;
  background-color: #FDF2B8;
  color: #555 !important;
}

.btn-Chick:hover {
  color: #fff;
  background-color: #F5ECBE!important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.modal-dialog {
  max-width: 100%;
  margin: 0;
}

.modal-dialog .modal-content {
  height: 100vh;
}

.btn {
  line-height: inherit;
}

@media (min-width: 1001px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    padding: 0 3px;
  }
}

/***************** CSS3 表格 *****************/
/* Table 轉 CSS3 */
.css_table table {
  display: table;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border-spacing: 0;
  border-collapse: collapse;
}

.css_table thead, .css_table tbody {
  display: table-row-group;
}

.css_table tr {
  display: table-row;
}

.css_table th, .css_table td {
  display: table-cell;
  vertical-align: middle;
}

.css_table thead, .css_table tbody, .css_table tfoot, .css_table tr {
  padding: 0;
  border: 0;
}

/* Table 基本樣式調整 */
.css_table {
  margin: 10px 0;
  border: 2px solid #000;
}

.css_table th, .css_table td {
  padding: 3px 10px 2px 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.css_table th {
  background-color: #eee;
  color: #000;
}

.css_table td {
  background-color: transparent;
}

.css_table tbody tr:nth-child(odd) td {
  background-color: #fff;
}

.css_table tbody tr:nth-child(even) td {
  background-color: #fafafa;
}

.css_table th a, .css_table td a {
  color: red;
}

/* Table 按鈕寬度 / 欄位固定的按鈕數量 */
.css_table button, .css_table .button {
  float: left;
  width: 60px;
  height: 23px;
  padding: 0;
  font-size: 0.7rem;
  margin: 2px;
}

.css_table.first_bt1 th:nth-child(1), .css_table.first_bt1 td:nth-child(1), .css_table.last_bt1 th:nth-last-child(1), .css_table.last_bt1 td:nth-last-child(1) {
  width: 60px;
  min-width: 60px;
}

.css_table.first_bt2 th:nth-child(1), .css_table.first_bt2 td:nth-child(1), .css_table.last_bt2 th:nth-last-child(1), .css_table.last_bt2 td:nth-last-child(1) {
  width: 124px;
  min-width: 124px;
}

.css_table.first_bt3 th:nth-child(1), .css_table.first_bt3 td:nth-child(1), .css_table.last_bt3 th:nth-last-child(1), .css_table.last_bt3 td:nth-last-child(1) {
  width: 188px;
  min-width: 188px;
}

/* CSS Table X軸捲動 */
.x_scroll {
  overflow-x: auto;
  overflow-y: visible;
}

.x_scroll th, .x_scroll td {
  white-space: nowrap;
}

/* CSS Table 凍結定位_左邊
.freeze_left{position:relative;top:0;left:0;border:1px solid #000;border-left:2px solid #000;border-right:2px solid #000;}
.freeze_left .scroll_table{overflow-x:auto;overflow-y:visible;margin-left:100px;}
.freeze_left th,.freeze_left td{min-height:30px;white-space:nowrap;}
.freeze_left .freeze_left_box{height:0;padding:0;border-width:0;}
.freeze_left .freeze_left_box th{border-bottom:2px solid #ddd;}
.freeze_left th:nth-child(1),.freeze_left td:nth-child(1){position:absolute;left:0;width:100px;height:34px;border-right:1px solid #000;padding-top:3px;}
@media (max-width:700px){
.freeze_left .scroll_table{margin-left:0;}
.freeze_left th:nth-child(1),.freeze_left td:nth-child(1){position:static;}
}
 */
/* CSS Table icon變更 */
.css_table .td_button {
  white-space: nowrap;
}

.css_table .td_button svg, .css_table .td_button i, .css_table .td_button .checkbox_box {
  margin: 0 1px;
  font-size: 12px;
  color: #000;
}

.css_table .td_button svg:hover, .css_table .td_button i:hover {
  color: red;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}
/* table */
table.default_table {
  margin: 5px 0;
  width: 100%;
}

table.default_table tr td {
  font-size: 0.7rem;
  padding: 2px 5px;
  vertical-align: middle;
  border: solid 1px #eee;
}
table.default_table tr td.tdDataCaption{
  background-color: #EBFDFF;
  color: #005B86;
  text-align: right;
}

table.default_table tr td input {
  /* height: 20px; */
}

table.default_table tbody tr td.title {
  font-size: 0.7rem;
  min-width: 120px;
  background-color: #FFE2E6;
  text-align: right !important;
}

table.default_table tbody tr td.title.text_s {
  font-size: 0.7rem;
}

/* table */
.tblDataArea{
  width: 100%;
  margin: 5px 0;
  
}
.tblDataArea tr td{
  border: 1px solid #D8D8D8;
  padding: 3px;
  vertical-align: middle;
}

.tbGary{
  border: 2px solid #979797;
  display: block;
  padding:0 5px;
  width: 100%;
  margin-bottom: 5px;
 
}
.tbGary tr td{
  padding: 3px;
  vertical-align: middle;
}
/* 查詢table */
.tblInquireArea tr td{
  border: 1px solid #B62B45;
  background-color: #fff;
  /* background-color: #FFF6F8;
  color: #B62B45; */
}
.tblInquireArea tr td.tdDataCaption{
  border: 1px solid #B62B45;
  background-color: #FFF6F8;
  color: #B62B45;
  vertical-align: middle;
}
.tblInquireArea tr td.tdDataField{
  border: 1px solid #B62B45 !important;
  background-color: #fff;
  color: #B62B45;
  padding: 3px;
  text-align: left;
}


.tblDataArea tr td.tdDataField{
  border: 1px solid #eee;
  padding: 3px;
  text-align: left;
}

.tblDataArea tr td.tdDatapass{
  border: 1px solid #eee;
  padding: 3px;
  text-align: left;
  border: 1px solid #B62B45;
  background-color: #FFF6F8;
  color: #B62B45;
}




.tdDataCaption{
  color: #005B86;
  background-color: #EBFDFF;
  text-align: right;
  vertical-align: middle;

}

.tblFunctionBar{
  width: 100%;
  background-color: #DBB1B7;
  border-radius: 5px;
  border: 0;
  margin: 5px 0;
}
.tblFunctionBar tr td{
  padding: 3px;
  color: #fff;
}
.tblFunctionBar tr td a{
  color: #fff;
}

.tblCssDataGrid{
  width: 100%;
  border: 1px solid #CA9550;
}

.rightScroll{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.rightScroll .cssDataGridHeader th{
  background-color: #F9ECD1;
  color: #005B86;
  padding: 5px 13px;
}

.tblCssDataGrid .cssDataGridHeader th{
  background-color: #F9ECD1;
  color: #005B86;
  padding: 5px 3px;
}
.tblCssDataGrid .cssDataGridHeader th a{
  color: #005B86;

}
.tblCssDataGrid tr{
  background-color: #fff;
}
.tblCssDataGrid tr:nth-child(odd){
  background-color: #FBF8F2;
}
.tblCssDataGrid tr td{
  color: #005B86;
  padding: 5px 3px;
  vertical-align: middle;
}


/**/
.css_table .td_button {
  padding-bottom: 0px;
}

/* 行內底色固定 */
.tableTRcolor{
  background-color:#F0F0F0  !important; ;
  
}
.tblCssDataGrid .tableTRcolor td {
 color: #FA8972;
}

.css_table .checkbox_box input {
  height: 20px;
}

.css_table .checkbox_box input[type=checkbox]:not(old) + label, .css_table .checkbox_box input[type=radio]:not(old) + label {
  height: 20px;
}

.css_table .checkbox_box input[type=checkbox]:not(old) + label {
  line-height: 20px;
  background-position: -4px -43px;
}

.css_table .checkbox_box input[type=checkbox]:not(old):checked + label {
  background-position: -4px -64px;
}

@media (max-width: 1600px) {
  .freeze_left th:nth-child(1), .freeze_left td:nth-child(1) {
    padding-top: 2px;
    /*height:27px;*/
  }
}

/********************************************************************/
/* 登入頁 */
.login-bg {
  background: #FFF6F1;
}

.login-box {
  width: 70%;
  margin: 15% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 20px 0; */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* background-color: #fff; */
  background: #fff url(../images/general/icon_gray.svg) 105% 160% no-repeat;
}

.login-img {
  width: 50%;
  min-height: 450px;
  background: url(../images/theme/candycar.png) #fff center center no-repeat;
  background-size: contain;
}

.login-form {
  width: 50%;
  /* background-color:#fff; */
  padding: 0 5%;
}

.login-form h1 {
  text-align: center;
  width: 200px;
  margin: 40px auto;
}

.login-form h2 {
  font-size: 1.6rem;
  text-align: center;
  padding: 15px 0;
  color: #333333;
}

.login-form .form-check {
  color: #757575;
  vertical-align: middle;
}

.login-form .form-check .form-check-input {
  vertical-align: middle;
  margin-top: 0rem;
}

.login-form .form-control {
  background-color: #E4E4E4;
  border: 0;
  color: #999;
}

.btn-login {
  width: 100%;
  background-color: #A885B4;
  color: #fff;
  font-size: 1rem;
  min-height: 40px;
}

.btn-login:hover {
  background-color: #593C63;
  color: #fff;
}

/********************************************************************/
/* 首頁 */
.feature-list-bg {
  float: left;
  width: 100%;
  background-color: #eee;
  height: -ms-calc(100% - 30px);
  height: calc(100% - 30px);
}

.feature-list {
  float: left;
  background-color: #fff;
  margin: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - (25px) * 2);
  height: calc(100% - (25px) * 2);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.feature-list h2 {
  text-align: center;
  font-size: 1.6rem;
  margin: 50px auto;
}

.feature-list .logo-box {
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 70px;
  background-image: url(../images/general/nav-logo-red.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 40px;
}

.feature-list-container {
  width: 1100px;
  margin: 50px auto;
}

.feature-list-container .item-feature {
  float: left;
  width: 100%;
  margin: 40px 0;
}

.feature-list-container .item-feature .title {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.feature-list-container .item-feature .icon {
  margin: 0 auto 0;
  width: 130px;
  height: 130px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 130px;
}

.feature-list-container .item-feature .icon.n0 {
  background-image: url(../images/feature-list/icon0.svg);
}

.feature-list-container .item-feature .icon:hover {
  padding: 0;
  border-radius: 50%;
  border: 5px solid #ccc;
}
.feature-list-container .item-feature .icon.n1 {
  background-image: url(../images/feature-list/icon1.svg);
}
.feature-list-container .item-feature .icon.n2 {
  background-image: url(../images/feature-list/icon2.svg);
}
.feature-list-container .item-feature .icon.n3 {
  background-image: url(../images/feature-list/icon3.svg);
}
.feature-list-container .item-feature .icon.n4 {
  background-image: url(../images/feature-list/icon4.svg);
}
.feature-list-container .item-feature .icon.n5 {
  background-image: url(../images/feature-list/icon5.svg);
}
.feature-list-container .item-feature .icon.n6 {
  background-image: url(../images/feature-list/icon6.svg);
}
.feature-list-container .item-feature .icon.n7 {
  background-image: url(../images/feature-list/icon7.svg);
}
.feature-list-container .item-feature .icon.n8 {
  background-image: url(../images/feature-list/icon8.svg);
}
.feature-list-container .item-feature .icon.n9 {
  background-image: url(../images/feature-list/icon9.svg);
}
.feature-list-container .item-feature .icon.n10 {
  background-image: url(../images/feature-list/icon10.svg);
}
.feature-list-container .item-feature .icon.n11 {
  background-image: url(../images/feature-list/icon11.svg);
}

@media (max-width: 1600px) {
  .feature-list-container .item-feature {
    margin: 15px 0;
  }
  .feature-list-container .item-feature .icon {
    width: 151px;
    height: 151px;
  }
}

@media (max-width: 1300px) {
  .feature-list-container {
    width: 100%;
    padding: 0 50px;
  }
  .feature-list-container .item-feature .icon {
    width: 141px;
    height: 141px;
  }
}

@media (max-width: 1000px) {
  .feature-list-container {
    width: 100%;
    padding: 0 100px;
  }
}

@media (max-width: 700px) {
  .feature-list-container {
    width: 100%;
    padding: 0 20px;
  }
  .feature-list .logo-box {
    margin-top: 30px;
    background-size: auto 30px;
  }
  .feature-list-container .item-feature {
    margin: 18px 0;
  }
  .feature-list-container .item-feature .icon {
    width: 121px;
    height: 121px;
  }
}

/********************************************************************/
/* 客製化主要結構 */
body {
  width: 100%;
  height: 100%;
}

aside {
  position: fixed;
  left: 0;
  width: 220px;
  background-color: #eee;
  height: 100%;
  border-right: 5px solid #000;
  z-index: 99;
}

section {
  padding-left: 220px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

nav {
  width: 160px;
}

main {
  float: left;
  width: 100%;
  height: 30px;
  background-color: #000;
}

.content {
  font-size: 0.8rem;
  padding: 20px 10px 40px 20px;
  background-color: #fff;
  float: left;
  width: 100%;
  position: relative;
}

@media (max-width: 1920px) {
  .content {
    font-size: 0.8rem;
  }
}

@media (max-width: 1600px) {
  /* .content{font-size:0.7rem;} */
}

@media (max-width: 1000px) {
  aside {
    left: -200px;
  }
  section {
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  .content.mbnoshow {
    display: none;
  }
}

/********************************************************************/
/* 左側選單 */
aside .scroll-box {
  position: relative;
  top: 0;
  left: 50%;
  float: left;
  width: 160px;
  height: 100%;
  margin: 0px 0 20px -80px;
  height: calc(100% - (70px + 30px));
}

aside .hide-box {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 160px;
}

aside .scroll-hidden {
  float: left;
  height: 100%;
  width: 220px;
  margin-left: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 90%;
  width: calc(100% + 20px);
}

.nav-logo {
  margin: 20px 0;
  width: 160px;
  height: 30px;
  background-image: url(../images/general/nav-logo-red.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.nav-bt-box {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 6px;
}

.nav-bt-box .nav-bt-left, .nav-bt-box .nav-bt-right {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
}

.nav-bt-box .nav-bt-left {
  background-image: url(../images/general/nav-bt-left.svg);
}

.nav-bt-box .nav-bt-right {
  background-image: url(../images/general/nav-bt-right.svg);
}
.list_layer .nav_box{
  margin-bottom: 10px;
}
.list_layer .nav_box a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.list_layer .nav_box .nav_first{
  background-color: #4B9482;
  color: #fff;
  border-radius: 5px;
  padding: 4.5px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
}
.list_layer .nav_box span {
  font-size: 15px;
  line-height: 1rem;
  color: #fff;
}
.list_layer .nav_box ul{
  background-color: #fff;
  border: 1px solid #4B9482;
  border-radius: 0 0 5px 5px;
  margin-top: -4.5px;
}
.list_layer .nav_box ul li{
  /* background-color: #fff; */
  border-bottom: 1px solid #4B9482;
  padding: 9.5px;
  padding-left: 30px;
  font-size: 15px;
  color: #444;
}
.list_layer .nav_box ul li:last-child{
  /* border-radius: 5px 0 0 5px; */
  border-bottom: 0;

}
/* .list_layer {
  float: left;
  width: 100%;
}

.list_layer span {
  font-size: 15px;
  line-height: 1rem;
}

.list_layer .off {
  display: none;
}

.list_layer .on {
  display: block;
}

.list_layer {
  margin: 0 0 10px 0;
  padding: 0;
}

.list_layer ul ul {
  margin: 0;
}

.list_layer li {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-top: 1px solid #000;
}

.list_layer li:nth-child(1) {
  border-top: 0px solid #000;
}

.list_layer a {
  width: 100%;
}

.list_layer li div {
  padding: 4.5px 4.5px 4.5px 4.5px;
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}

.list_layer li li div {
  padding: 9.5px 4.5px 9.5px 4.5px;
  padding-left: 32px;
  background-color: #fff;
  color: #444;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
  font-size: 15px;
}

.list_layer li li.active div {
  background-color: #E5ADB5;
}

.list_layer li li li div {
  padding-left: 32px;
  background-color: #eee;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}

.list_layer li li li li div {
  padding-left: 54px;
  background-color: #fff;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}

.list_layer li div:hover {
  background-color: red;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}

.list_layer li li div:hover {
  background-color: red;
  color: #fff;
  -webkit-transition: 0.095s linear;
  transition: 0.095s linear;
}

.list_layer .item_title {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_layer ul {
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.list_layer ul ul {
  border: 0px solid #000;
  border-radius: 0px;
}
.list_layer .item_title img, .list_layer .item_title i, .list_layer .item_title svg {
  width: 20px;
  height: 20px;
  margin: 3px 5px 5px 2.5px;
  color: #fff;
}
*/

.list_layer .nav_box img, .list_layer .nav_box i, .list_layer .nav_box svg {
  width: 20px;
  height: 20px;
  margin: 3px 5px 5px 2.5px;
  color: #fff;
}

@media (max-width: 1000px) {
  .nav-bt-box .nav-bt-left {
    display: none;
  }
  .nav-bt-box .nav-bt-right {
    display: block;
  }
}
/********************************************************************/
/* 上方選單 */
.main-box {
  float: right;
  margin-top: 5px;
}

.main-box .top_item {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

.main-box .top_item img {
  width: 40px;
  height: 40px;
}

.main-box .top_item svg, .main-box .top_item i {
  font-size: 1.2rem;
  margin-right: 5px;
}

.main-box .top_item span {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 3px;
}

.main-logo {
  float: left;
  margin-left: 10px;
  width: 150px;
  height: 30px;
  background: url(../images/general/nav-logo-red.svg) left center no-repeat;
  background-size: 100%;
}

@media (max-width: 700px) {
  .main-box .top_item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-box.mbnoshow {
    display: none;
  }
}

.content_function_bar{
  padding-bottom: 15px;
}


/********************************************************************/
/* 主要內容 */
/* 行動版上下間隔 */
@media (max-width: 1000px) {
  .content .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* 麵包屑 */
.bread-crumbs {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 10px;
  /* padding-left: 20px; */
}

.bread-crumbs a {
  color: red;
  margin-top: 10px;
}

/* 標題 */
.content .big_title {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.content .big_title .left-text {
  float: left;
}

.content .big_title .right-button {
  float: right;
}

.content .big_title .right-button .button {
  float: left;
  width: auto;
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #eee;
  color: #000;
  border: 1px solid #eee;
  padding-left: 6.5px;
  padding-right: 6.5px;
  line-height: 1.2em;
}

.content .big_title .right-button .button:hover {
  background-color: red;
  color: #fff;
  border: 1px solid #000;
}

.content .item_title {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-left: 10px;
  overflow: hidden;
}

.content .slidetoggle.item_title {
  padding-left: 30px;
  cursor: pointer;
}

.content .item_title div {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
}

.content .item_title i, .content .item_title svg {
  width: 18px;
  height: 28px;
  margin: 6px;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 700px) {
  .content .big_title .right-button {
    float: left;
  }
  .content .big_title .right-button .button {
    margin-left: 0px;
    margin-right: 10px;
  }
}

/* 輸入框 */
.content .bottom_line::after {
  content: "";
  border-bottom: 1px solid #aaa;
  width: calc(100% - (10px) * 2);
}

.content .input-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #FFE2E6;
  z-index: 0;
  font-size: 0.8rem;
}

.content .input-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #eee;
  z-index: -1;
  width: 100%;
}

.content .input-title-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFE2E6;
  z-index: 0;
  font-size: 0.8rem;
}

.content .padding_box {
  float: left;
  width: 100%;
  padding: 3px 0 3px 0;
}

.content .padding_box .br {
  float: left;
  width: 100%;
}

.content .bottom_line::after {
  content: "";
  position: absolute;
  left: 2.5px;
  bottom: 0;
  border-bottom: 1px solid #aaa;
  width: -ms-calc(100% - (10px) * 2);
  width: calc(100% - 7.5px);
}

@media (max-width: 1000px) {
  .content .input-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 5px;
  }
}

/* 輸入框 特別樣式*/
.content .system-text {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.content .text-color {
  color: red;
}

.content ul, .content ol {
  margin-left: 28px;
}

.content .annotation {
  line-height: 1.7rem;
  font-size: 12px;
}

.content .item-input-text {
  float: left;
  margin-right: 30px;
}

.content .item-input-text .item-text {
  float: left;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .input_border {
  margin-top: 1px;
  margin-bottom: 1px;
}

.content .input_border input {
  height: 20px;
}

.content .item-input-text input {
  float: left;
  min-width: 100px;
  height: 20px;
}

.content .sp.in1-5, .content .sp.in5-5 {
  float: left;
  width: 50px;
}

.content .sp.in3-5 {
  float: left;
  width: 100px;
}

.content .sp.in2-5, .content .sp.in4-5 {
  float: left;
  width: 2%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0;
}

.content .sp.in1-3 {
  float: left;
  width: 15%;
}

.content .sp.in2-3 {
  float: left;
  width: 10%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0;
}

.content .sp.in3-3 {
  float: left;
  width: 65%;
}

.content .time.in1-3, .content .time.in3-3 {
  float: left;
  width: 45%;
}

.content .time.in2-3 {
  float: left;
  width: 10%;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0;
}

.content .on-row.in1-2 {
  float: left;
  margin-right: 10px;
  width: -ms-calc(39.8% - 10px);
  width: calc(39.8% - 10px);
}

.content .on-row.in2-2 {
  float: left;
  margin-left: 10px;
  width: -ms-calc(60.2% - 10px);
  width: calc(60.2% - 10px);
}

@media (max-width: 1600px) {
  .content ul, .content ol {
    margin-left: 22px;
  }
}

@media (max-width: 1000px) {
  .content .on-row.in1-2, .content .on-row.in2-2 {
    margin-right: 0;
    margin-left: 0;
    width: -ms-calc(100%);
    width: calc(100%);
  }
}

@media (max-width: 700px) {
  .content .item-input-text {
    margin: 5px 0;
  }
}

.row-group .row {
  padding-left: 7px;
  padding-right: 12px;
  margin-left: -7.5px;
  margin-right: -10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row-group .col-border {
  border: 1px solid #eee;
  margin-top: -1px;
  min-height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.radio_row4_hide {
  display: none;
}

.row_hide {
  display: none;
}

.row_block {
  display: inline-block;
}
/* 內容tab選單 */
.nav{
  margin: 0;
}
.nav li.nav-item{
  list-style: none;
  /* margin: 10px 3px; */
  margin-right: 3px;
}
.nav .nav-item .nav-link{
  padding: 10px;
  background-color: #4B9482;
  color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: rgb(37, 83, 72);
}

/* 輸入框 輸入按鈕*/
.input-button {
  float: left;
  width: 100%;
}

.input-button .button {
  float: left;
  width: 30%;
  height: 20px;
  margin: 2px 3.333% 2px 0;
  font-size: 12px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  line-height: 6px;
}

.input-button .button:hover {
  background-color: red;
  color: #fff;
}



/* padding */
.pl-40 {
  padding-left: 40px !important;
}

/* 收合框 */
.collapse_title {
  width: 270px !important;
  padding-left: 40px !important;
  padding-right: 10px;
  border-radius: 10px 10px 0 0;
}

.inside_pt {
  height: calc(100vh - 150px);
  overflow: hidden;
  overflow-y: scroll;
}

.inside_navbar {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  padding-left: 20px;
}

.top-content {
  padding: 10px 20px 10px;
  font-size: 0.8rem;
  border-bottom: 1px solid #d0d1d2;
}

.insideNav {
  width: auto;
  border-bottom: 2px solid #A885B4;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #A885B4;
  border-color: #A885B4;
  color: #fff;
}

.nav-tabs .nav-link {
  background-color: #FCF4FF;
  border: 1px solid #A885B4;
  color: #333;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border: 1px solid #A885B4;
}

.show {
  display: block;
}

