<aside>
	<div class="flexbox fjc" id="_menu_side_up">
		<a href="index.html" class="nav-logo"></a>
	</div>
	<div class="scroll-box">
		<div class="hide-box">
			<div class="scroll-hidden">
				<nav id="_menu_side">
					<ul class="list_layer">
						<li class="nav_box">
							<a href="RIN101000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN101000<br><span class="text s4">再保合約設定</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN102000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN102000<br><span class="text s4">業務對照合約模組設定</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN103000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN103000<br><span class="text s4">各險核准限額設定-臨分</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN104000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN104000<br><span class="text s4">RISK & LOSS PROFILE BAND 設定</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN105000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN105000<br><span class="text s4">再保人基本資料維護</span></span>
							</a>
						</li>
						<li class="nav_box">
							<a href="RIN106000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN106000<br><span class="text s4">再保聯絡人設定</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN110000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN110000<br><span class="text s4">再保費調整設定</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN201000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN201000<br><span class="text s4">分保配額調整維護-合約</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN202000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN202000<br><span class="text s4">被保人分保狀況查詢</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN203000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN203000<br><span class="text s4">合約再保費總表列印</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN203001.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN203001<br><span class="text s4">合約再保費明細列印</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN204000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN204000<br><span class="text s4">OFFER管理</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN205000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN205000<br><span class="text s4">SLIP管理</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN208000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN208000<br><span class="text s4">重新分保計算</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN301000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN301000<br><span class="text s4">合約初步出險通知書-PLA</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN302000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN302000<br><span class="text s4">預估攤賠資料查詢與調整</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN303000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN303000<br><span class="text s4">合約未決賠款明細表</span></span>
							</a>
						</li>
						<li class="nav_box">
							<a href="RIN304000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN304000<br><span class="text s4">合約已付賠款通知書-LPA</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN305000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN305000<br><span class="text s4">實賠攤賠資料查詢與調整</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN306000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN306000<br><span class="text s4">合約已付賠款明細表</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN308000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN308000<br><span class="text s4">重新攤賠計算</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN309000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN309000<br><span class="text s4">臨分PLA建置</span></span>
							</a>
						</li>
						<li class="nav_box">
							<a href="RIN310000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN310000<br><span class="text s4">臨分LPA建置</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN311000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN311000<br><span class="text s4">臨分PLA & LPA維護作業</span></span>
							</a>
						</li>
						<li class="nav_box">
							<a href="RIN402000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN402000<br><span class="text s4">分保明細轉出</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN403000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN403000<br><span class="text s4">再保未決資料轉出</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN404000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN404000<br><span class="text s4">未決賠款明細表</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN421000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN421000<br><span class="text s4">RISK PROFILE OF PERSON Accident</span></span>
							</a>
                        </li>
                        <li class="nav_box">
							<a href="RIN422000.html" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span>RIN422000<br><span class="text s4">INDIVIDUAL Travelles's ACCIDENTISK PROFILE</span></span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="nav-bt-box">
		<div class="nav-bt-left"></div>
		<div class="nav-bt-right off"></div>
	</div>
</aside>
<script>
	$(document).ready(function () {


		/* 無限層選單：列表收合 */
		$(".list_layer .nav_box .nav_first").click(function () {
			// $(this).next().slideUp();
			var o = $(this);
			var s = o.next().attr("style");

			// f-else作開關
			if (checkIsNullSpace(s) == true) {
				o.next().attr("style", "display: block;");
			} else {
				o.next().removeAttr("style");
			}
		});


		/* 左側選單：關閉*/
		$(".nav-bt-left").click(function () {
			$("aside").animate({ left: "-200px" }, 500);
			$("section").animate({ paddingLeft: "20px", }, 500);
			$(this).hide();
			$(".nav-bt-right").show();
			$(".main-box").removeClass("mbnoshow");
			$(".content").removeClass("mbnoshow");
		});


		/* 左側選單：開啟*/
		$(".nav-bt-right").click(function () {
			$("aside").animate({ left: "0" }, 500);
			$("section").animate({ paddingLeft: "220px", }, 500);
			$(this).hide();
			$(".nav-bt-left").show();
			$(".main-box").addClass("mbnoshow");
			$(".content").addClass("mbnoshow");
		});

	});
</script>