<aside>
	<div class="flexbox fjc" id="_menu_side_up">
		<a href="index.html" class="nav-logo"></a>
	</div>
	<div class="scroll-box">
		<div class="hide-box">
			<div class="scroll-hidden">
				<nav id="_menu_side">
					<ul class="list_layer">
						<li class="nav_box">
							<a href="#" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span><span class="text s4">基本設定</span></span>
							</a>
							<ul style="display: none;">
								<li>
									<a href="RIN101000.html">
										<div>RIN101000<br>再保合約設定</div>
									</a>
								</li>
								<li>
									<a href="RIN102000.html">
										<div>RIN102000<br>業務對照合約模組設定</div>
									</a>
								</li>
								<li>
									<a href="RIN103000.html">
										<div>RIN103000<br>各險核准限額設定-臨分</div>
									</a>
								</li>
								<li>
									<a href="RIN104000.html">
										<div>RIN104000<br>RISK & LOSS PROFILE BAND 設定</div>
									</a>
								</li>
								<li>
									<a href="RIN105000.html">
										<div>RIN105000<br>再保人基本資料維護</div>
									</a>
								</li>
								<li>
									<a href="RIN106000.html">
										<div>RIN106000<br>再保聯絡人設定</div>
									</a>
								</li>
								<li>
									<a href="RIN110000.html">
										<div>RIN110000<br>再保費調整設定</div>
									</a>
								</li>
							</ul>
                        </li>
                        <li class="nav_box">
							<a href="#" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span><span class="text s4">再保分保及臨分</span></span>
							</a>
							<ul style="display: none;">
								<li>
									<a href="RIN201000.html">
										<div>RIN201000<br>分保配額調整維護-合約</div>
									</a>
								</li>
								<li>
									<a href="RIN202000.html">
										<div>RIN202000<br>被保人分保狀況查詢</div>
									</a>
								</li>
								<li>
									<a href="RIN203000.html">
										<div>RIN203000<br>合約再保費總表列印</div>
									</a>
								</li>
								<li>
									<a href="RIN203001.html">
										<div>RIN203001<br>合約再保費明細列印</div>
									</a>
								</li>
								<li>
									<a href="RIN204000.html">
										<div>RIN204000<br>OFFER管理</div>
									</a>
								</li>
								<li>
									<a href="RIN205000.html">
										<div>RIN205000<br>SLIP管理</div>
									</a>
								</li>
								<li>
									<a href="RIN208000.html">
										<div>RIN208000<br>重新分保計算</div>
									</a>
								</li>
							</ul>
                        </li>
                        <li class="nav_box">
							<a href="#" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span><span class="text s4">再保理賠攤派</span></span>
							</a>
							<ul style="display: none;">
								<li>
									<a href="RIN301000.html">
										<div>RIN301000<br>合約初步出險通知書-PLA</div>
									</a>
								</li>
								<li>
									<a href="RIN302000.html">
										<div>RIN302000<br>預估攤賠資料查詢與調整</div>
									</a>
								</li>
								<li>
									<a href="RIN303000.html">
										<div>RIN303000<br>合約未決賠款明細表</div>
									</a>
								</li>
								<li>
									<a href="RIN304000.html">
										<div>RIN304000<br>合約已付賠款通知書-LPA</div>
									</a>
								</li>
								<li>
									<a href="RIN305000.html">
										<div>RIN305000<br>實賠攤賠資料查詢與調整</div>
									</a>
								</li>
								<li>
									<a href="RIN306000.html">
										<div>RIN306000<br>合約已付賠款明細表</div>
									</a>
								</li>
								<li>
									<a href="RIN308000.html">
										<div>RIN308000<br>重新攤賠計算</div>
									</a>
								</li>
								<li>
									<a href="RIN309000.html">
										<div>RIN309000<br>臨分PLA建置</div>
									</a>
								</li>
								<li>
									<a href="RIN310000.html">
										<div>RIN310000<br>臨分LPA建置</div>
									</a>
								</li>
								<li>
									<a href="RIN311000.html">
										<div>RIN311000<br>臨分PLA & LPA維護作業</div>
									</a>
								</li>
							</ul>
                        </li>
                        <li class="nav_box">
							<a href="#" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span><span class="text s4">報表及媒體轉出</span></span>
							</a>
							<ul style="display: none;">
								<li>
									<a href="RIN402000.html">
										<div>RIN402000<br>分保明細轉出</div>
									</a>
								</li>
								<li>
									<a href="RIN403000.html">
										<div>RIN403000<br>再保未決資料轉出</div>
									</a>
								</li>
								<li>
									<a href="RIN404000.html">
										<div>RIN404000<br>未決賠款明細表</div>
									</a>
								</li>
								<li>
									<a href="RIN421000.html">
										<div>RIN421000<br>RISK PROFILE OF PERSON Accident</div>
									</a>
								</li>
								<li>
									<a href="RIN422000.html">
										<div>RIN422000<br>INDIVIDUAL Travelles's ACCIDENTISK PROFILE</div>
									</a>
								</li>
								<li>
									<a href="RIN423000.html">
										<div>RIN423000<br>LOSS PROFILE</div>
									</a>
								</li>
								<li>
									<a href="RIN424000.html">
										<div>RIN424000<br>LOSS PROFILE  FOR PA MR DHI</div>
									</a>
								</li>
								<li>
									<a href="RIN425000.html">
										<div>RIN425000<br>OVERALL Risks & Premiums PROFILE for Known Acc. Of PA</div>
									</a>
								</li>
								<li>
									<a href="RIN426000.html">
										<div>RIN426000<br>Statistics of Persioal Accident Q/S Surplus Treaty</div>
									</a>
								</li>
							</ul>
                        </li>
                        <li class="nav_box">
							<a href="#" class="nav_first">
								<i class="fab fa-black-tie"></i>
								<span><span class="text s4">帳單作業</span></span>
							</a>
							<ul style="display: none;">
								<li>
									<a href="RIN501000.html">
										<div>RIN501000<br>合約梯次佣金設定</div>
									</a>
								</li>
								<li>
									<a href="RIN502000.html">
										<div>RIN502000<br>年度資料處理維護</div>
									</a>
								</li>
								<li>
									<a href="RIN503000.html">
										<div>RIN503000<br>合約結算報表列印</div>
									</a>
								</li>
								<li>
									<a href="RIN504000.html">
										<div>RIN504000<br>帳項彙計處理(含分公司攤負帳)</div>
									</a>
								</li>
								<li>
									<a href="RIN505000.html">
										<div>RIN505000<br>合約帳單切立</div>
									</a>
								</li>
								<li>
									<a href="RIN506000.html">
										<div>RIN506000<br>臨分帳單切立</div>
									</a>
								</li>
								<li>
									<a href="RIN507000.html">
										<div>RIN507000<br>帳單作業</div>
									</a>
								</li>
								<li>
									<a href="RIN508000.html">
										<div>RIN508000<br>整批帳單檢核及列印</div>
									</a>
								</li>
								<li>
									<a href="RIN521000.html">
										<div>RIN521000<br>每月預估帳報表</div>
									</a>
								</li>
							</ul>
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="nav-bt-box">
		<div class="nav-bt-left"></div>
		<div class="nav-bt-right off"></div>
	</div>
</aside>
<script>
	$(document).ready(function () {


		/* 無限層選單：列表收合 */
		$(".list_layer .nav_box .nav_first").click(function () {
			// $(this).next().slideUp();
			var o = $(this);
			var s = o.next().attr("style");

			// f-else作開關
			if (checkIsNullSpace(s) == true) {
				o.next().attr("style", "display: block;");
			} else {
				o.next().removeAttr("style");
			}
		});


		/* 左側選單：關閉*/
		$(".nav-bt-left").click(function () {
			$("aside").animate({ left: "-200px" }, 500);
			$("section").animate({ paddingLeft: "20px", }, 500);
			$(this).hide();
			$(".nav-bt-right").show();
			$(".main-box").removeClass("mbnoshow");
			$(".content").removeClass("mbnoshow");
		});


		/* 左側選單：開啟*/
		$(".nav-bt-right").click(function () {
			$("aside").animate({ left: "0" }, 500);
			$("section").animate({ paddingLeft: "220px", }, 500);
			$(this).hide();
			$(".nav-bt-left").show();
			$(".main-box").addClass("mbnoshow");
			$(".content").addClass("mbnoshow");
		});

	});
</script>