<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>華南產物保險-健康傷害險</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- jQuery UI -->
    <link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
    <script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
    <!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
    <script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
    <!-- bootstrap -->
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- table tabulator -->
    <script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- Plug CSS樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type_plug.css">
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">
    <!-- 主題顏色切換 糖果世代 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
    <!-- 主題顏色切換 海神寶藍 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
    <!-- 主題顏色切換 法拉利紅 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
    <!-- 主題顏色切換 繽紛馬卡 -->
    <link rel="stylesheet" href="../../shigen/css/type-colorful.css">
    <!-- 主題顏色切換 煙花季節 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
    <!-- 主題顏色切換 冬雪初現 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
    <link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/type.js"></script>
    <script src="../../shigen/js/common.js"></script>
    <script src="../../shigen/js/global.js"></script>
    <!-- <script type="text/javascript" src="../../shigen/js/app/policyChangeAppl.js"></script> -->
</head>

<body>
    <div class="ajax-aside-nav"></div>
    <section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid">
            <div class="content">
                <div class="bread-crumbs">
                    <a href="">承保受理作業</a>
                </div>
                <div class="big_title title s1"> HAS312000 保批單日報表</div>
                <div class="row-group">
                    <div class="row">
                        <div class="col-12 text-left content_function_bar">
                            <button class="btn btn-oneBig">列印</button>
                            <button class="btn btn-oneBig">清除</button>
                            <button class="btn btn-oneBig">離開</button>
                        </div>
                    </div>
                </div>
               
                <table class="tblDataArea" id="Table1" width="95%" align="center" border="0">
                    <tbody>
                        <tr>
                            <td class="tdDataCaption" >報表類型</td>
                            <td class="tdDataField" style="HEIGHT: 19px">
                                <select name="" id="ddlPrintType" style="width: 200px;">
                                    <option selected="selected" value="1">1:檢核日報表(含日結前)</option>
                                    <option value="2">2:正式日報表(日結後)</option>

                                </select></td>
                        </tr>
                        <tr>
                            <td class="tdDataCaption">簽單日期</td>
                            <td class="tdDataField">
                                <input class="mingo data_time" name="Ucd_date:txtDate" type="text" value="109/03/24"
                                    maxlength="10" size="10" id="Ucd_date"
                                    onchange="javascript:this.value=ucRocDate_FormatDateText(this.value,true);">
                                <div id="Ucd_date_divCalender"
                                    style="display:none;behavior:url('/SCERP/ISNEControl/ucRocDate.htc');"
                                    isrocdate="true"></div>
                                    <input
                                    name="Ucd_date:txtDateIsRocDate" id="Ucd_date_txtDateIsRocDate" type="hidden"
                                    value="true">
                                <span id="Ucd_date_cvdDate" controltovalidate="Ucd_date_txtDate" errormessage="日期格式錯誤"
                                    display="Dynamic" evaluationfunction="CustomValidatorEvaluateIsValid"
                                    clientvalidationfunction="ucRocDate_ValidateRocYYYYsMMsDD"
                                    style="color:Red;display:none;">日期格式錯誤</span><span
                                    id="Ucd_date_RequiredFieldValidator1" controltovalidate="Ucd_date_txtDate"
                                    errormessage="日期欄位必須填寫" display="None" enabled="False"
                                    evaluationfunction="RequiredFieldValidatorEvaluateIsValid" initialvalue=""
                                    style="color:Red;display:none;"></span>
                                <font face="新細明體">~
                                    <input class="mingo data_time" name="UcRocDate1:txtDate" type="text" value="109/03/24" maxlength="10"
                                        size="10" id="UcRocDate1"
                                        onchange="javascript:this.value=ucRocDate_FormatDateText(this.value,true);">
                                    <div id="UcRocDate1_divCalender"
                                        style="display:none;behavior:url('/SCERP/ISNEControl/ucRocDate.htc');"
                                        isrocdate="true"></div><input
                                        name="UcRocDate1:txtDateIsRocDate" id="UcRocDate1_txtDateIsRocDate"
                                        type="hidden" value="true">
                                    <span id="UcRocDate1_cvdDate" controltovalidate="UcRocDate1_txtDate"
                                        errormessage="日期格式錯誤" display="Dynamic"
                                        evaluationfunction="CustomValidatorEvaluateIsValid"
                                        clientvalidationfunction="ucRocDate_ValidateRocYYYYsMMsDD"
                                        style="color:Red;display:none;">日期格式錯誤</span><span
                                        id="UcRocDate1_RequiredFieldValidator1" controltovalidate="UcRocDate1_txtDate"
                                        errormessage="日期欄位必須填寫" display="None" enabled="False"
                                        evaluationfunction="RequiredFieldValidatorEvaluateIsValid" initialvalue=""
                                        style="color:Red;display:none;"></span>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdDataCaption">公司別</td>
                            <td class="tdDataField">
                                <input name="txtQIisbrch" type="text" value="00" maxlength="2" id="txtQIisbrch" style="width:50px;"> <font color="#005B86" face="新細明體">&nbsp;* (%:表示全部)</font>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdDataCaption">專案代號</td>
                            <td class="tdDataField">
                                <input name="txtIPROJECT" type="text" id="txtIPROJECT"
                                    style="width:200px;">
                                    <font color="#005B86" face="新細明體">如果有多個保源，請以逗號分隔</font>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdDataCaption">保源代號</td>
                            <td class="tdDataField">
                                <input name="txtIRES" type="text" id="txtIRES" style="width:200px;">
                                <font color="#005B86" face="新細明體">如果有多個保源，請以逗號分隔</font>
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="tdDataCaption">格式別</td>
                            <td class="tdDataField">
                                <input id="Radiobuttonlist1_0" type="radio" name="Radiobuttonlist1"
                                    value="1" checked="checked">
                                    <label for="Radiobuttonlist1_0">
                                        <font color="#005B86" face="新細明體">依險類</font>
                                    </label>
                            
                                <input id="Radiobuttonlist1_1" type="radio" name="Radiobuttonlist1"
                                    value="2"><label for="Radiobuttonlist1_1">
                                        <font color="#005B86" face="新細明體">依保批單</font>
                                    </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdDataCaption">統計單位別</td>
                            <td class="tdDataField">
                                <input id="rblIPE_TYPE_0" type="radio" name="rblIPE_TYPE" value="1"
                                    checked="checked"><label for="rblIPE_TYPE_0">
                                        <font color="#005B86" face="新細明體">公司</font>
                                    </label>
                            
                                <input id="rblIPE_TYPE_1" type="radio" name="rblIPE_TYPE"
                                    value="2"><label for="rblIPE_TYPE_1">
                                        <font color="#005B86" face="新細明體">計績單位</font>
                                    </label>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div id="example-tabl"></div>
                
                

            </div>
        </div>
        <!-- content end  -->
        </div>
    </section>
    <!-- dialog -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Title</h5>
                    <button id="_close_dialog" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="foo">
                    <div id="example-table"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="doModify(this);return false;">確定</button>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- 功能使用的js，建議放置在html最尾 -->
<script type="text/javascript" src="../../shigen/js/app/HAS301001_11.js"></script>

</html>