<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>華南產物保險-健康傷害險</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- jQuery UI -->
    <link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
    <script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
    <!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
    <script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
    <!-- bootstrap -->
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- table tabulator -->
    <script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- Plug CSS樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type_plug.css">
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">
    <!-- 主題顏色切換 糖果世代 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
    <!-- 主題顏色切換 海神寶藍 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
    <!-- 主題顏色切換 法拉利紅 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
    <!-- 主題顏色切換 繽紛馬卡 -->
    <link rel="stylesheet" href="../../shigen/css/type-colorful.css">
    <!-- 主題顏色切換 煙花季節 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
    <!-- 主題顏色切換 冬雪初現 -->
    <!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
    <link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/type.js"></script>
    <script src="../../shigen/js/common.js"></script>
    <script src="../../shigen/js/global.js"></script>
    <!-- <script type="text/javascript" src="../../shigen/js/app/policyChangeAppl.js"></script> -->
</head>

<body>
    <div class="ajax-aside-navfour"></div>
    <section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid">
            <div class="content">
                <div class="bread-crumbs">
                    <a href="">批改受理作業</a>
                </div>
                <div class="big_title title s1">HAS402001-健康傷害險批單收據列印作業</div>
                <div class="row-group">
                    <div class="row">
                        <div class="col-12 text-left content_function_bar">
                            <button class="btn btn-oneBig">列印</button>
                            <button class="btn btn-oneBig">離開</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="item_title title s2">查詢</div> -->
                <table class="tblDataArea" id="TableSelection" width="95%" align="center" border="0">
                    <table class="tblDataArea" id="Table1" width="95%" align="center" border="0">
                        <tbody>
                            <tr>
                                <td class="tdDataCaption">批單號碼</td>
                                <td class="tdDataField">
                                    <input name="txtPolicyBgn" type="text" maxlength="14"
                                        id="txtPolicyBgn" onchange=""
                                         style="width:120px;">~
                                    <input name="txtPolicyEnd" type="text" maxlength="14" id="txtPolicyEnd" style="width:120px;"></td>
                            </tr>
                            
                            <tr>
                                <td class="tdDataCaption">列印類別</td>
                                <td class="tdDataField">
                                    <select name="" id="ddlFormType">
                                        <option selected="selected" value="7">7: 收據(新)</option>
                                        <option value="9">9: 核保照會單</option>
                                        <option value="11">11: 除外同意書</option>

                                    </select>
                                </td>
                            </tr>
                            <!--2010/08/13 ADD BY BOBO -START -->
                            <tr>
                                <td class="tdDataCaption">收據版本</td>
                                <td class="tdDataField">
                                    <select name="" id="ddlPrintType">
                                        <option selected="selected" value="1">新版</option>
                                        <option value="2">舊版(加註)</option>

                                    </select>
                                </td>
                            </tr>


                            <!--2010/08/13 ADD BY BOBO -END -->
                            <tr>
                                <td class="tdDataCaption">輸入日期</td>
                                <td class="tdDataField">
                                    <input name="" class="mingo data_time" type="text" maxlength="10"
                                        size="10" id="ucDcreateBgn">
                                    <!-- <div id="" isrocdate="true"></div> -->
                                    <input name="" id="" type="hidden" value="true">
                                    <span id="" errormessage="日期格式錯誤" display="Dynamic"
                                        evaluationfunction="CustomValidatorEvaluateIsValid"
                                        clientvalidationfunction="ucRocDate_ValidateRocYYYYsMMsDD"
                                        style="color:Red;display:none;">日期格式錯誤</span><span
                                        id="ucDcreateBgn_RequiredFieldValidator1"
                                        controltovalidate="ucDcreateBgn_txtDate" errormessage="日期欄位必須填寫" display="None"
                                        enabled="False" evaluationfunction="RequiredFieldValidatorEvaluateIsValid"
                                        initialvalue="" style="color:Red;display:none;"></span>
                                    ~
                                    <input class="mingo data_time" name="ucDcreateEnd" type="text" maxlength="10" size="10"
                                        id="ucDcreateEnd"
                                        onchange="javascript:this.value=ucRocDate_FormatDateText(this.value,true);">
                                    <div id="ucDcreateEnd_divCalender"
                                        style="display:none;behavior:url('/SCERP/ISNEControl/ucRocDate.htc');"
                                        isrocdate="true"></div>
                                        <input name="ucDcreateEnd:txtDateIsRocDate" id="ucDcreateEnd_txtDateIsRocDate" type="hidden" value="true">
                                    <span id="ucDcreateEnd_cvdDate" controltovalidate="ucDcreateEnd_txtDate"
                                        errormessage="日期格式錯誤" display="Dynamic"
                                        evaluationfunction="CustomValidatorEvaluateIsValid"
                                        clientvalidationfunction="ucRocDate_ValidateRocYYYYsMMsDD"
                                        style="color:Red;display:none;">日期格式錯誤</span><span
                                        id="ucDcreateEnd_RequiredFieldValidator1"
                                        controltovalidate="ucDcreateEnd_txtDate" errormessage="日期欄位必須填寫" display="None"
                                        enabled="False" evaluationfunction="RequiredFieldValidatorEvaluateIsValid"
                                        initialvalue="" style="color:Red;display:none;"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdDataCaption">輸入人員</td>
                                <td class="tdDataField"><input name="txtIcreate" type="text" value="002333"
                                        maxlength="10" id="txtIcreate" style="width:120px;"></td>
                            </tr>
                            <tr>
                                <td class="tdDataCaption">列印件數</td>
                                <td class="tdDataField">
                                    <font face="新細明體" color="#005B86">收據件數</font>
                                    <input name="txtQcnt3" type="text" value="1" maxlength="2" id="txtQcnt3"
                                        style="width:50px;">
                                </td>
                            </tr>
                            <tr>
                                <td class="tdDataCaption">
                                    <input id="ChkAD" type="checkbox" name="ChkAD" onclick="isChecked_Endable()">
                                    <label for="ChkAD">是否補發</label>
                                </td>
                                <td class="tdDataField">
                                    <font face="新細明體" color="#005B86">授權帳號</font>
                                    <input name="txtUserID" type="text" readonly="readonly" id="txtUserID">
                                    <font face="新細明體" color="#005B86">密碼</font>
                                    <input name="txtPassWord" type="password" readonly="readonly"
                                        id="txtPassWord">
                                        <font face="新細明體" color="#005B86">請輸入登入電腦的帳號密碼</font>
                                    </td>
                            </tr>
                            <tr>
                                <td class="tdDataCaption">補發原因</td>
                                <td class="tdDataField"><textarea name="txtNReason" readonly="readonly" id="txtNReason"
                                        style="height:72px;width:496px;"></textarea></td>
                            </tr>
                            <tr>
                                <td class="tdDataCaption">批單/洽攬人失效</td>
                                <td class="tdDataField"><textarea name="MMEO" id="MMEO"
                                        style="color:#FF3300;height:72px;width:496px;"></textarea></td>
                            </tr>
                        </tbody>
                    </table>





            </div>
        </div>
        <!-- content end  -->
        </div>
    </section>
    <!-- dialog -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Title</h5>
                    <button id="_close_dialog" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="foo">
                    <div id="example-table"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="doModify(this);return false;">確定</button>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- 功能使用的js，建議放置在html最尾 -->
<script type="text/javascript" src="../../shigen/js/app/HAS301001_11.js"></script>

</html>