<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" lang="zh-Hant-TW">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
	<title>華南產物保險-健康傷害險</title>
	<!-- jQuery -->
	<script src="../../shigen/plugin/jquery.min.js"></script>
	<!-- jQuery UI -->
	<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
	<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
	<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
	<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
	<!-- bootstrap -->
	<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
	<!-- table tabulator -->
	<script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
	<!-- fontawsome -->
	<script defer src="../../shigen/fonts/js/all.min.js"></script>
	<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
	<!--load all styles -->
	<!-- Plug CSS樣式 -->
	<link rel="stylesheet" href="../../shigen/css/type_plug.css">
	<!-- 共用樣式 -->
	<link rel="stylesheet" href="../../shigen/css/type.css">
	<!-- 主題顏色切換 糖果世代 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
	<!-- 主題顏色切換 海神寶藍 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
	<!-- 主題顏色切換 法拉利紅 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
	<!-- 主題顏色切換 繽紛馬卡 -->
	<link rel="stylesheet" href="../../shigen/css/type-colorful.css">
	<!-- 主題顏色切換 煙花季節 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
	<!-- 主題顏色切換 冬雪初現 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
	<link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

	<!-- 自訂JS樣式 -->
	<script src="../../shigen/js/type.js"></script>
	<script src="../../shigen/js/common.js"></script>
	<script src="../../shigen/js/global.js"></script>
	<!-- <script type="text/javascript" src="../../shigen/js/app/policyChangeAppl.js"></script> -->
</head>

<body>
	<div class="ajax-aside-nav"></div>
	<section>
		<div class="ajax-section-main"></div>
		<div class="container-fluid">
			<div class="content">
				<div class="bread-crumbs">
					<a href="">承保受理作業</a>
				</div>
				<div class="big_title title s1">HAS801000 健康傷害險關聯查詢作業</div>
				<div class="row-group">
					<div class="row">
						<div class="col-12 text-left content_function_bar">
							<button class="btn btn-oneBig">查詢</button>
							<button class="btn btn-oneBig">清除</button>
							<button class="btn btn-oneBig">瀏覽</button>
							<button class="btn btn-oneBig">離開</button>
						</div>
					</div>
				</div>

				<div class="row-group">
					<div class="row">
						<!-- 保單新增 -->
						<table class="tblDataArea tblInquireArea" cellspacing="0" cellpadding="0" width="100%">
												<tr>
													<td class="tdDataCaption">險別</td>
													<td class="tdDataField" colspan="3">
														<select name="ddlIinsCls" id="ddlIinsCls" style="width: 150px;">
															<option value=""></option>
															<option value="A">A&nbsp;責任險</option>
															<option value="I">I&nbsp;傷害險</option>
															<option selected="selected" value="H">H&nbsp;健康險</option>
														</select>


													</td>
													<td class="tdDataCaption">保單類別</td>
													<td class="tdDataField" colspan="3">
														<select name="ddlIinsCls" id="ddlIinsCls" style="width: 150px;">
															<option value=""></option>
															<option value="A">A&nbsp;GTA團體旅綜</option>
															<option value="I">I&nbsp;308旅行綜合保險</option>
															<option selected="selected" value="H">H&nbsp;309旅行業綜合責任保險</option>
														</select>
													</td>
												</tr>
												<tr>
													<td class="tdDataCaption">保單號碼</td>
													<td class="tdDataField">
														<input class="＃" name="ucdDCLOSE_NEXT" type="text" value="" maxlength="10" size="10" id="#">
															<input name="" id="" type="hidden" value="true">
													</td>
													<td class="tdDataCaption">批單號碼</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
                                                    </td>
                                                    <td class="tdDataCaption">經手人</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
                                                    </td>
                                                    <td class="tdDataCaption">出單單位</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
													</td>
                                                </tr>
                                                <tr>
													<td class="tdDataCaption">被保人ID</td>
													<td class="tdDataField">
														<input class="＃" name="ucdDCLOSE_NEXT" type="text" value="" maxlength="10" size="10" id="#">
															<input name="" id="" type="hidden" value="true">
													</td>
													<td class="tdDataCaption">被保人姓名</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
                                                    </td>
                                                    <td class="tdDataCaption">業務來源</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
                                                    </td>
                                                    <td class="tdDataCaption">專案代號</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
													</td>
                                                </tr>
                                                <tr>
													<td class="tdDataCaption">要保人ID</td>
													<td class="tdDataField">
                                                        <input class="＃" name="#" type="text" value="" maxlength="10" size="10" id="#">
                                                        <input class="＃" name="#" type="text" value="" maxlength="5" size="5" id="#">
															
													</td>
													<td class="tdDataCaption">要保人姓名</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
                                                    </td>
                                                    <td class="tdDataCaption">輸入人員</td>
													<td class="tdDataField">
														<input name="" type="text"
															maxlength="40" id="txtIPOLICY" style="width:127px;">
                                                    </td>
                                                    <td class="tdDataCaption">輸入日期</td>
													<td class="tdDataField">
														
                                                            <input class="mingo data_time hasDatepicker" name="" type="text" maxlength="10" size="10" id="UcrocDentry">
                                                            <!-- <button title="選擇日期" onclick="">...</button> -->
                                                            <input name="" id="UcrocDentry_txtDateIsRocDate" type="hidden" value="true">
                                                            <span id="UcrocDentry_cvdDate" style="color:Red;display:none;">日期格式錯誤</span>
                                                            
                                                     
													</td>
                                                </tr>
                                                <tr>
													<td class="tdDataCaption">簽單日期</td>
													<td class="tdDataField" colspan="3">
                                                            <input class="mingo data_time hasDatepicker" name="" type="text" maxlength="10" size="10" id="UcRocDbgn">
                                                            <!-- <button title="選擇日期" class="" >...</button> -->
                                                            <input name="" id="" type="hidden" value="true">
                                                            <span id="UcRocDbgn_txtDate" style="color:Red;display:none;">日期格式錯誤</span>
                                                            <span id="" style="color:Red;display:none;"></span>
                                                            ~
                                                            <input class="mingo data_time hasDatepicker" name="" type="text" maxlength="10" size="10" id="UcRocDend">
                                                            <!-- <button title="選擇日期" class="" >...</button> -->
                                                            <input name="" id="" type="hidden" value="true">
                                                            <span id="UcRocDend_txtDate" style="color:Red;display:none;">日期格式錯誤</span>
                                                            <span id="" style="color:Red;display:none;"></span>
													</td>
													<td class="tdDataCaption">收費序號</td>
													<td class="tdDataField" >
														<input name="txtIISSBRCH" type="text" value="00"
															id="txtIISSBRCH">
                                                    </td>
                                                    <td class="tdDataCaption">繳費單號</td>
													<td class="tdDataField">
														<input name="txtIISSBRCH" type="text" value="00"
															id="txtIISSBRCH">
													</td>
												</tr>
												
												
	
						</table>

		<div class="container-fluid">
			<div class="tab-content" id="pills-tabContent">
				<div class="row-group tab-pane fade show active" id="pills-1" role="tabpanel"
                    aria-labelledby="pills-1-tab">
					<table id="Table2" class="tblFunctionBar" cellspacing="0" cellpadding="0">
						<tbody>
							<tr valign="bottom">
								<td nowrap="">
									
								</td>
								<td nowrap="">
									<a id="" class="">第一頁</a>&nbsp;
									<a id="" class="">上一頁</a>&nbsp;
									<a id="" class="">下一頁</a>&nbsp;
									<a id="" class="">最後一頁</a>&nbsp;
								</td>
								<td nowrap="">
									<span id="" class="">總共</span>
									<span id="" class="">0</span>
									<span id="" class="">筆</span>&nbsp;
								</td>
								<td nowrap="">
									<span id="" class="">每頁</span>
									<input name="" type="text" value="8" maxlength="4" id="" class="" style="width:32px;">
									<span id="" class="">筆</span>
									<button class="btn btn-secondary">go</button>
									
								</td>
								<td nowrap="">
									<span id="" class="">總共</span>
									<span id="" class="">1</span>
									<span id="" class="">頁</span>&nbsp;
								</td>
								<td>
									<span id="" class="">目前第</span>
									<input name="" type="text" value="1" maxlength="4" id="" class="" style="width:29px;">
									<span id=""class="">頁</span>
									<button class="btn btn-secondary">go</button>
									<button class="btn btn-secondary">匯出資料</button>
									
								</td>
							</tr>
						</tbody>
					</table>
					<table class="tblCssDataGrid">
						<tbody>
							<tr class="cssDataGridHeader">
								<th><a href=""></a></th>

								<th><a href="">保單狀態</a></th>
								<th><a href="">保單號</a></th>
								<th><a href="">批單號</a></th>
								<th><a href="">要保號</a></th>
								<th><a href="">批改性質</a></th>
								<th><a href="">簽單日</a></th>
								<th><a href="">承保起日</a></th>
								<th><a href="">承保迄日</a></th>
								<th><a href="">專案代號</a></th>
								<th><a href="">要保人ID</a></th>
								<th><a href="">要保人</a></th>
								<th><a href="">保費</a></th>
								<th><a href="">經手人</a></th>
								<th><a href="">統計單位</a></th>
								<th><a href="">被保險人ID</a></th>
								<th><a href="">被保險人姓名</a></th>
								<th><a href="">批改性質</a></th>
								<th><a href="">是否解約</a></th>


							</tr>
							<tr>
								<td><button type="button" class="btn-editt">編輯</button></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
                    </div>
                </div>
            </div>
		</div>
	</section>
	<!-- dialog -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Title</h5>
					<button id="_close_dialog" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="foo">
					<div id="example-table"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="doModify(this);return false;">確定</button>
				</div>
			</div>
		</div>
	</div>

</body>
<!-- 功能使用的js，建議放置在html最尾 -->
<script type="text/javascript" src="../../shigen/js/app/HAS301001_11.js"></script>

</html>