<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>華南產物保險-健康傷害險</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- jQuery UI -->
<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
<!-- bootstrap -->
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- table tabulator -->
<script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- Plug CSS樣式 -->
<link rel="stylesheet" href="../../shigen/css/type_plug.css">
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">
<!-- 主題顏色切換 糖果世代 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
<!-- 主題顏色切換 海神寶藍 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
<!-- 主題顏色切換 法拉利紅 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
<!-- 主題顏色切換 繽紛馬卡 -->
<link rel="stylesheet" href="../../shigen/css/type-colorful.css">
<!-- 主題顏色切換 煙花季節 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
<!-- 主題顏色切換 冬雪初現 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
<link href="../../shigen/css/colorful-tabulator.css" rel="stylesheet">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/type.js"></script>
<script src="../../shigen/js/common.js"></script>
<script src="../../shigen/js/global.js"></script>
<!-- <script type="text/javascript" src="../../shigen/js/app/policyChangeAppl.js"></script> -->
</head>

<body>
	<div class="ajax-aside-navRIN1"></div>
	<section>
		<div class="ajax-section-main"></div>
		<div class="container-fluid">
			<div class="content">
				<div class="bread-crumbs">
					<a href="">承保受理作業</a>
				</div>
                <div class="big_title title s1">RIN101000-再保合約設定</div>
                <div class="row-group">
					<div class="row">
						<div class="col-12 text-left content_function_bar">
                            <button class="btn btn-oneBig">新增</button>
                            <button class="btn btn-oneBig">查詢</button>
                            <button class="btn btn-oneBig">清除</button>
                            <button class="btn btn-oneBig">匯出</button>
                            <button class="btn btn-oneBig">匯入</button>
                            <button class="btn btn-oneBig">離開</button>
						</div>
					</div>
				</div>
                
                <table class="tblDataArea tblInquireArea" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                        <tr>
                            <td class="tdDataCaption">險別</td>
                            <td class="tdDataField">
                                <select name="" id="" style="width:150px;">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td class="tdDataCaption">合約年度</td>
                            <td class="tdDataField">
                                <input name="txtIISSBRCH" type="text" value="" id="navRII">
                            </td>
                            <td class="tdDataCaption">合約編號</td>
                            <td class="tdDataField">
                                <input name="txtIISSBRCH" type="text" value="" id="navRII">
                            </td>
                        </tr>
                    </tbody>
                </table>

            <div style="height: 20px;"></div>
<!------------------------------------------------- tab開始 -->

                <div class="row-group">
                    <ul class="row nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1"
                                role="tab" aria-controls="pills-1" aria-selected="true">1:基本資料</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2"
                                role="tab" aria-controls="pills-2" aria-selected="false">2:帳單模組</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3"
                                role="tab" aria-controls="pills-3" aria-selected="false">3:再保人資料</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4"
                                role="tab" aria-controls="pills-4" aria-selected="false">4:Security</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-5-tab" data-toggle="pill" href="#pills-5"
                                role="tab" aria-controls="pills-5" aria-selected="false">5:限額資料</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-6-tab" data-toggle="pill" href="#pills-6"
                                role="tab" aria-controls="pills-6" aria-selected="false">6:除外不保</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-7-tab" data-toggle="pill" href="#pills-7"
                                role="tab" aria-controls="pills-7" aria-selected="false">7:承保險種</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-8-tab" data-toggle="pill" href="#pills-8"
                                role="tab" aria-controls="pills-8" aria-selected="false">8:超賠條件</a></li>
                        <li class="nav-item"><a class="nav-link" id="pills-9-tab" data-toggle="pill" href="#pills-9"
                                role="tab" aria-controls="pills-8" aria-selected="false">9:備註</a></li>
                    </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                    <div class="row-group tab-pane fade show active" id="pills-1" role="tabpanel"
                        aria-labelledby="pills-1-tab">
                        <table class="tblDataArea" width="100%" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td class="tdDataCaption">險別</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">合約年度</td>
                                    <td class="tdDataField">
                                        <input class="" type="text" maxlength="10" size="10" id="">
                                    </td>
                                    <td class="tdDataCaption">合約編號</td>
                                    <td class="tdDataField">
                                        <input class="" type="text" maxlength="10" size="10" id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">合約名稱</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">合約簡稱</td>
                                    <td class="tdDataField" >
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">上年度合約編號</td>
                                    <td class="tdDataField" >
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">生效起期</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">生效迄期</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">合約文件編號</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">合約別</td>
                                    <td class="tdDataField" colspan="5">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">合約型態</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">分保型態</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">回分比例</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">分保基礎</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">分保計算</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">依前線分期否</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">出險通知金額</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">PLA期限幾日內</td>
                                    <td class="tdDataField" colspan="3">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">現金攤賠金額</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">LPA期限幾日內</td>
                                    <td class="tdDataField" colspan="3">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">幣別</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">匯兌率</td>
                                    <td class="tdDataField" colspan="3">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">帳單制作期</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">分保報表制作期</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">攤賠報表製作期</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">清算日期</td>
                                    <td class="tdDataField">
                                        <input name="" type="text" maxlength="10" id="">
                                    </td>
                                    <td class="tdDataCaption">清算比例</td>
                                    <td class="tdDataField" colspan="3">
                                        <input name="" type="text" maxlength="10" id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">終止方式</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">終止否</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td class="tdDataCaption">終止日期</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="10" id="txtTemp14">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">一般限額</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="10" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">共保限額</td>
                                    <td class="tdDataField">
                                        <input name="txtTemp14" type="text" maxlength="20" id="txtTemp14">
                                    </td>
                                    <td class="tdDataCaption">通過顯著風險</td>
                                    <td class="tdDataField">
                                        <select name="ddliinskind1" language="javascript" id="ddliinskind1" style="width:150px;">
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdDataCaption">共保超額通知郵件信箱</td>
                                    <td class="tdDataField" colspan="5">
                                        <input name="" type="text" maxlength="20" id="">
                                    </td>
                                </tr>
                        </tbody>
                        </table>
                        
                    </div>
                    <!-- pills-1 end -->
                    <div class="row-group tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                        <table class="tblDataArea" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                <td class="tdDataField">
                                    <h3 style="color: #ed4c6c;">帳單模組</h3>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="Table2" class="tblFunctionBar" cellspacing="0" cellpadding="0">
                            <tbody><tr valign="bottom">
                                <td nowrap="" align="left">
                                    <button class="btn btn-secondary" onclick="window.open('RIN101001.html', 'newwindow', config='height=900,width=1000,toolbar=no');">帳單模組設定</button>
                                </td>
                                <td nowrap="" align="left">
                                    <a id="" disabled="" tabindex="-1" class="">第一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">上一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">下一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">最後一頁</a>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">每頁</span>
                                    <input name="" type="text" value="8" maxlength="4" id="" class="" style="width:32px;">
                                    <span id="" class="">筆</span>
                                    <button class="btn btn-secondary">go</button>
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                    <span id="" class="">1</span>
                                    <span id="" class="">頁</span>&nbsp;
                                </td>
                                <td align="right">
                                    <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" maxlength="4" id="" class="" style="width:29px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-secondary">go</button>
                                <button class="btn btn-secondary">匯出資料</button>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="rightScroll tblCssDataGrid">
                        <tbody><tr class="cssDataGridHeader">
                            <th style="width: 50px;">更新<a href=""></a></th>
                            <th style="width: 50px;">刪除<a href=""></a></th>
                            <th><a href="">承保險種</a></th>
                            <th><a href="">險種說明</a></th>
                            <th><a href="">預估給付項目</a></th>
                            <th><a href="">本公司保額</a></th>
                            <th><a href="">殘廢等級</a></th>
                            <th><a href="">醫院代碼</a></th>	
                            <th><a href="">住院天數</a></th>	
                            <th><a href="">本公司預估賠款</a></th>	
                            <th><a href="">申請金額</a></th>	
                            <th><a href="">不給付金額</a></th>	
                            <th><a href="">預估日期</a></th>	
                            <th><a href="">理賠群組1</a></th>	
                            <th><a href="">理賠群組2</a></th>	
                            <th><a href="">建黨日期</a></th>	
                        </tr>
                        <tr>
                            <td><button class="btn-addlist"  onclick="window.open('CLM502001.html', 'newwindow', config='height=900,width=1000,toolbar=no');">更新</button></td>
                            <td><button type="button" class="btn-del">刪除</button></td>
                            <td>MR27505</td>
                            <td>團體醫療保險(實支實付型)住院前後門診費用附加條款<br>-住院前後門診費用</td>
                            <td>住院前後門診金實支實付(75)</td>
                            <td>500</td>
                            <td></td>
                            <td>長庚林小兒科診所</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>109/10/13</td>
                            <td>7505</td>
                            <td>7505</td>
                            <td>109/10/13</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    <!-- pills-2 end -->
                    <div class="row-group tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                        <table class="tblDataArea" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                <td class="tdDataField">
                                    <h3 style="color: #ed4c6c;">再保人資料</h3>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="Table2" class="tblFunctionBar" cellspacing="0" cellpadding="0">
                            <tbody><tr valign="bottom">
                                <td nowrap="" align="left">
                                    <button class="btn btn-secondary">新增項目</button>
                                </td>
                                <td nowrap="" align="left">
                                    <a id="" disabled="" tabindex="-1" class="">第一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">上一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">下一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">最後一頁</a>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">每頁</span>
                                    <input name="" type="text" value="8" maxlength="4" id="" class="" style="width:32px;">
                                    <span id="" class="">筆</span>
                                    <button class="btn btn-secondary">go</button>
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                    <span id="" class="">1</span>
                                    <span id="" class="">頁</span>&nbsp;
                                </td>
                                <td align="right">
                                    <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" maxlength="4" id="" class="" style="width:29px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-secondary">go</button>
                                <button class="btn btn-secondary">匯出資料</button>
                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tblCssDataGrid">
                        <tbody><tr class="cssDataGridHeader">
                            <th style="width: 50px;">選取<a href=""></a></th>
                            <th style="width: 100px;">列印<a href=""></a></th>
                            <th><a href="">再保人</a></th>
                            <th><a href="">名稱</a></th>
                            <th><a href="">生效起始日</a></th>
                            <th><a href="">佔合約百分比</a></th>
                            <th><a href="">帳單模組</a></th>
                            <th><a href="">彙報表否</a></th>
                            <th><a href="">狀態</a></th>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn-editt">選取</button></td>
                            <td><button class="btn-addlist">列印</button></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    <!-- pills-3 end -->
                    <!-- pills-4 -->
                    <div class="row-group tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                        <table id="Table2" class="tblFunctionBar" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr valign="bottom">
                                    <td nowrap="" align="left">
                                        <button class="btn btn-secondary" onclick="window.open('CLMQueryKDISEASE(CLM502000).html', 'newwindow', config='height=900,width=1000,toolbar=no');">新增疾病原因</button>
                                    </td>
                                    <td nowrap="" align="left">
                                        <a id="" disabled="" tabindex="-1" class="">第一頁</a>&nbsp;
                                        <a id="" disabled="" tabindex="-1" class="">上一頁</a>&nbsp;
                                        <a id="" disabled="" tabindex="-1" class="">下一頁</a>&nbsp;
                                        <a id="" disabled="" tabindex="-1" class="">最後一頁</a>&nbsp;
                                    </td>
                                    <td nowrap="" align="left">
                                        <span id="" class="">總共</span>
                                    <span id="" class="">0</span>
                                    <span id="" class="">筆</span>&nbsp;
                                    </td>
                                    <td nowrap="" align="left">
                                        <span id="" class="">每頁</span>
                                        <input name="" type="text" value="8" maxlength="4" id="" class="" style="width:32px;">
                                        <span id="" class="">筆</span>
                                        <button class="btn btn-secondary">go</button>
                                    </td>
                                    <td nowrap="" align="left">
                                        <span id="" class="">總共</span>
                                        <span id="" class="">1</span>
                                        <span id="" class="">頁</span>&nbsp;
                                    </td>
                                    <td align="right">
                                        <span id="" class="">目前第</span>
                                    <input name="" type="text" value="1" maxlength="4" id="" class="" style="width:29px;">
                                    <span id="" class="">頁</span>
                                    <button class="btn btn-secondary">go</button>
                                    <button class="btn btn-secondary">匯出資料</button>
                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="tblCssDataGrid">
                            <tbody><tr class="cssDataGridHeader">
                                <th>隸屬經紀人</th>
                                <th>再保人</th>
                                <th><a href="">名稱</a></th>
                                <th><a href="">生效起始日</a></th>
                                <th><a href="">佔合約百分比</a></th>
                                <th><a href="">帳單模組</a></th>
                                <th><a href="">狀態</a></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <!-- pills-4 end -->
                    <!-- pills-5 -->
                    <div class="row-group tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                        
                    </div>
                    <!-- pills-5 end -->
                    <!-- pills-6 -->
                    <div class="row-group tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab">
                        <table id="Table2" class="tblFunctionBar" cellspacing="0" cellpadding="0">
                            <tbody><tr valign="bottom">
                                <td nowrap="" align="left">
                                    <button class="btn btn-secondary">新增項目</button>
                                </td>
                                <td nowrap="" align="left">
                                    <a id="" disabled="" tabindex="-1" class="">第一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">上一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">下一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">最後一頁</a>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">每頁</span>
                                    <input name="" type="text" value="8" maxlength="4" id="" class="" style="width:32px;">
                                    <span id="" class="">筆</span>
                                    <button class="btn btn-secondary">go</button>
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                    <span id="" class="">1</span>
                                    <span id="" class="">頁</span>&nbsp;
                                </td>
                                <td align="right">
                                    <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" maxlength="4" id="" class="" style="width:29px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-secondary">go</button>
                                <button class="btn btn-secondary">匯出資料</button>
                                
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <table class="tblCssDataGrid">
                            <tbody><tr class="cssDataGridHeader">
                                <th></th>
                                <th></th>
                                <th><a href="">類別</a></th>
                                <th><a href="">代號</a></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <!-- pills-6 end -->
                    <!-- pills-7 -->
                    <div class="row-group tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab">
                        <table id="Table2" class="tblFunctionBar" cellspacing="0" cellpadding="0">
                            <tbody><tr valign="bottom">
                                <td nowrap="" align="left">
                                    <button class="btn btn-secondary">新增項目</button>
                                </td>
                                <td nowrap="" align="left">
                                    <a id="" disabled="" tabindex="-1" class="">第一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">上一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">下一頁</a>&nbsp;
                                    <a id="" disabled="" tabindex="-1" class="">最後一頁</a>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>&nbsp;
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">每頁</span>
                                    <input name="" type="text" value="8" maxlength="4" id="" class="" style="width:32px;">
                                    <span id="" class="">筆</span>
                                    <button class="btn btn-secondary">go</button>
                                </td>
                                <td nowrap="" align="left">
                                    <span id="" class="">總共</span>
                                    <span id="" class="">1</span>
                                    <span id="" class="">頁</span>&nbsp;
                                </td>
                                <td align="right">
                                    <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" maxlength="4" id="" class="" style="width:29px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-secondary">go</button>
                                <button class="btn btn-secondary">匯出資料</button>
                                
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <table class="tblCssDataGrid">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th></th>
                                    <th></th>
                                    <th>30險種代碼</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- pills-7 end -->
                    <div class="row-group tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab">
                        
                    </div><!-- pills-8 end -->
                    <div class="row-group tab-pane fade" id="pills-9" role="tabpanel" aria-labelledby="pills-9-tab">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div><!-- pills-8 end -->
                </div>

<!------------------------------------------------- tab結束 -->
			</div>
			<!-- content end  -->
		</div>
	</section>
	<!-- dialog -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Title</h5>
					<button id="_close_dialog" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="foo">
					<div id="example-table"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="doModify(this);return false;">確定</button>
				</div>
			</div>
		</div>
	</div>

</body>
<!-- 功能使用的js，建議放置在html最尾 -->
<script type="text/javascript" src="../../shigen/js/app/HAS301001_11.js"></script>
</html>