<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>華南產物保險-健康傷害險</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- jQuery UI -->
<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
<!-- bootstrap -->
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- table tabulator -->
<script type="text/javascript" src="../../shigen/plugin/tabulator.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- Plug CSS樣式 -->
<link rel="stylesheet" href="../../shigen/css/type_plug.css">
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">
<!-- 主題顏色切換 糖果世代 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
<!-- 主題顏色切換 海神寶藍 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
<!-- 主題顏色切換 法拉利紅 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
<!-- 主題顏色切換 繽紛馬卡 -->
<link rel="stylesheet" href="../../shigen/css/type-colorful.css">
<!-- 主題顏色切換 煙花季節 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
<!-- 主題顏色切換 冬雪初現 -->
<!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
<link href="../../shigen/css/tabulator.css" rel="stylesheet">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/type.js"></script>
<script src="../../shigen/js/common.js"></script>

<!-- <script type="text/javascript">
	$(document).ready(function() {
		/* ajax jquery include html */
		$(".ajax-aside-nav").load("../../shigen/layout/ajax-aside-nav.html");
		$(".ajax-section-main").load("../../shigen/layout/ajax-section-main.html");
	});
</script> -->

</head>

<body>
	<aside>
        <div class="flexbox fjc" id="_menu_side_up">
            <a href="index" class="nav-logo"></a>
        </div>
        <div class="scroll-box">
            <div class="hide-box">
                <div class="scroll-hidden">
                    <nav id="_menu_side">
                        <ul class="list_layer">
                            <li class="nav_box">
                                <a href="#" class="nav_first">
                                    <i class="fas fa-plus-square"></i>
                                    <span>健康傷害險承保作業</span>
                                </a>
                                <ul class="off">
                                    <li><a href="#">test</a></li>
                                    <li><a href="#">test</a></li>
                                    <li><a href="#">test</a></li>
                                </ul>
                            </li>
                            <li class="nav_box">
                                <a href="#" class="nav_first">
                                    <i class="fas fa-folder-plus"></i>
                                    <span>健康傷害險承保受理作業</span>
                                </a>
                                <ul class="off">
                                    <li><a href="#">test</a></li>
                                    <li><a href="#">test</a></li>
                                    <li><a href="#">test</a></li>
                                </ul>
                            </li>
                            <li class="nav_box">
                                <a href="HAS301008.html" class="nav_first">
                                    <i class="fas fa-print"></i>
                                    <span>健康傷害險自訂方案作業</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="nav-bt-box">
            <div class="nav-bt-left"></div>
            <div class="nav-bt-right off"></div>
        </div>
    </aside>
    <script>
        $(document).ready(function () {
            /* 無限層選單：列表收合 */
            $(".list_layer .nav_box .nav_first").click(function () {
                // $(this).next().slideUp();
                var o = $(this);
				var s = o.next().attr("style");

				// f-else作開關
				if (checkIsNullSpace(s) == true) {
					o.next().attr("style", "display: block;");
				} else {
					o.next().removeAttr("style");
				}
            });

            /* 左側選單：關閉*/
            $(".nav-bt-left").click(function () {
                $("aside").animate({ left: "-200px" }, 500);
                $("section").animate({ paddingLeft: "20px", }, 500);
                $(this).hide();
                $(".nav-bt-right").show();
                $(".main-box").removeClass("mbnoshow");
                $(".content").removeClass("mbnoshow");
            });
    
    
            /* 左側選單：開啟*/
            $(".nav-bt-right").click(function () {
                $("aside").animate({ left: "0" }, 500);
                $("section").animate({ paddingLeft: "220px", }, 500);
                $(this).hide();
                $(".nav-bt-left").show();
                $(".main-box").addClass("mbnoshow");
                $(".content").addClass("mbnoshow");
            });
    
        });
    </script>
	<section>
		<main>
			<div class="main-box">
				<div href="#" class="top_item">
					<span>車險部門 - 車批業務員</span>
				</div>
				<a href="#" class="top_item">
					<i class="fas fa-cog"></i>
					<span>設定</span>
				</a>
				<a href="#" class="top_item">
					<i class="fas fa-user"></i>
					<span>登出</span>
				</a>
				<a href="#" class="top_item">
					<i class="fas fa-grip-horizontal"></i>
				</a>
			</div>
		</main>
		<div class="container-fluid">
			<div class="content">
				<!-- <div class="bread-crumbs">
					<a href="">批改申請</a>
					&gt; 批改申請
				</div> -->
				<!-- <div class="big_title title s1">風格設定</div> -->
				<div class="item_title title s2">風格設定</div>

				<div class="row-group">
					<div class="row py-4">
						<div class="col-xl-1 col-md-2"><p>系統風格選擇</p></div>
						<div class="col-xl-1 col-md-1">
							<div class="input_border">
								<div class="select_box">
									<select name="#">
										<option value="0">海神寶藍</option>
										<option value="1">糖果世代</option>
										<!-- <option value="2">其他</option> -->
									</select>
								</div>
							</div>
						</div>
						
					</div>
                </div>
                <div class="row-group">
					<div class="row">
						<div><button class="button btn-secondary px-5 mr-2">取消</button></div>
						<div><button class="button px-5" onclick="javascript:location.href='setting.html'">確認</button></div>
					</div>
				</div>
				
			</div>
			<!-- content end  -->
		</div>
	</section>

</body>

</html>