<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" lang="zh-Hant-TW">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
	<title>華南產物保險-車批系統</title>
	<!-- jQuery -->
	<script src="../../shigen/plugin/jquery.min.js"></script>
	<!-- bootstrap -->
	<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
	<!-- fontawsome -->
	<script defer src="../../shigen/fonts/js/all.min.js"></script>
	<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
	<!--load all styles -->
	<!-- jQuery UI -->
	<link href="../../shigen/plugin/jquery_ui/jquery-ui.min.css" rel="stylesheet">
	<script src="../../shigen/plugin/jquery_ui/jquery-ui.min.js"></script>
	<!-- 日期選擇器_民國年或西元年：支援 jQuery UI -->
	<script src="../../shigen/plugin/datepicker_globe_tw.js"></script>
	<!-- 自訂JS樣式 -->
	<script src="../../shigen/js/type.js"></script>
	<!-- Plug CSS樣式 -->
	<link rel="stylesheet" href="../../shigen/css/type_plug.css">
	<!-- 共用樣式 -->
	<link rel="stylesheet" href="../../shigen/css/type.css">
	<!-- 主題顏色切換 糖果世代 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-candy.css"> -->
	<!-- 主題顏色切換 海神寶藍 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-sapphire.css"> -->
	<!-- 主題顏色切換 法拉利紅 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-red.css"> -->
	<!-- 主題顏色切換 繽紛馬卡 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-colorful.css"> -->
	<!-- 主題顏色切換 煙花季節 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-fireworks.css"> -->
	<!-- 主題顏色切換 冬雪初現 -->
	<!-- <link rel="stylesheet" href="../../shigen/css/type-snow.css"> -->
	<script>
		$(document).ready(function() {
			/* ajax jquery include html */
			$(".ajax-aside-nav").load("../../shigen/layout/ajax-aside-nav.html");
			$(".ajax-section-main").load("../../shigen/layout/ajax-section-main.html");
		});
	</script>
</head>

<body>
	<div class="ajax-aside-nav"></div>
	<section>
		<div class="ajax-section-main"></div>
		<div class="content">
			<div class="bread-crumbs"><a href="">選單第一層</a> &gt; 大標題</div>
			<div class="big_title title s1">大標題</div>
			<div class="big_title title s1">
				<div class="left-text">大標題大標題大標題大標題（按鈕連結）</div>
				<div class="right-button">
					<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">新增批單</button>
					<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">修改批單</button>
					<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">刪除批單</button>
					<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">查詢批單</button>
				</div>
			</div>
			<form action="" method="get">
				<div class="item_title title s2">查詢</div>
				<div class="item_title title s2">查詢（收合）
					<div class="bt-close"><i class="fas fa-minus-square"></i></div>
					<div class="bt-open off"><i class="fas fa-plus-square"></i></div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">強制證號6</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">強制證號6</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號3</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號3</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">強制證號6</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號3</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號3</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號3</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號3</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-1 col-lg-1 col-sm-12 col-12">強制證號3</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
								<div class="input-title col">auto</div>
								<div class="col">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

<style>



.content .input-title{justify-content:flex-end;z-index:0;font-size:12px;}
.content .input-title::before{
    content:"";
    position:absolute;top:0;right:0;height:100%;background-color:#eee;z-index:-1;
width:100%;
}

.content .bottom_line::after{content:"";position:absolute;left:2.5px;bottom:0;border-bottom:1px solid #aaa;width:-moz-calc(100% - (10px) * 2);width:-webkit-calc(100% - (10px) * 2);width:-ms-calc(100% - (10px) * 2);width:calc(100% - 7.5px);}



</style>

						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">系統帶值</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="system-text text">範例樣式</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">強制證號</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">保單號碼</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border sp in1-5">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
										<div class="sp in2-5">-</div>
										<div class="input_border sp in3-5">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
										<div class="sp in4-5">-</div>
										<div class="input_border sp in5-5">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">批單號碼</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border sp in1-3">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
										<div class="sp in2-3">-</div>
										<div class="input_border sp in3-3">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">西元年</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<div class="input_group">
													<input class="datepicker data_time" type="text" placeholder="" required>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">西元年</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border time in1-3">
											<div class="input_padding">
												<div class="input_group">
													<input class="datepicker data_time" type="text" placeholder="" required>
												</div>
											</div>
										</div>
										<div class="time in2-3">~</div>
										<div class="input_border time in3-3">
											<div class="input_padding">
												<div class="input_group">
													<input class="datepicker data_time" type="text" placeholder="" required>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">民國年</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<div class="input_group">
													<input class="mingo data_time" type="text" placeholder="" required>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">民國年期間</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border time in1-3">
											<div class="input_padding">
												<div class="input_group">
													<input class="mingo data_time" type="text" placeholder="" required>
												</div>
											</div>
										</div>
										<div class="time in2-3">~</div>
										<div class="input_border time in3-3">
											<div class="input_padding">
												<div class="input_group">
													<input class="mingo data_time" type="text" placeholder="" required>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">批改原因/說明</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input_border">
											<div class="input_padding">
												<div class="select_box">
													<select name="#">
														<option value="0"></option>
														<option value="1">選項1</option>
														<option value="2">選項2</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">報價單位</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="row">
										<div class="col-6">
											<div class="padding_box">
												<div class="input_border">
													<div class="input_padding">
														<div class="select_box">
															<select name="#">
																<option value="0"></option>
																<option value="1">選項1</option>
																<option value="2">選項2</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="padding_box">
												<div class="input_border">
													<div class="input_padding">
														<div class="select_box">
															<select name="#">
																<option value="0"></option>
																<option value="1">選項1</option>
																<option value="2">選項2</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">一行有兩種內容</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box on-row in1-2">
										<div class="input_border sp in1-5">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
										<div class="sp in2-5">-</div>
										<div class="input_border sp in3-5">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
										<div class="sp in4-5">-</div>
										<div class="input_border sp in5-5">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
									<div class="padding_box on-row in2-2">
										<div class="input_border">
											<div class="input_padding">
												<input type="text" placeholder="" required>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">保單狀態</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<span class="checkbox_box">
											<input id="radio01_1" type="radio" name="radio01" value="1" checked>
											<label for="radio01_1">有效保單</label>
										</span>
										<span class="checkbox_box">
											<input id="radio01_2" type="radio" name="radio01" value="2">
											<label for="radio01_2">失效保單</label>
										</span>
										<span class="checkbox_box">
											<input id="radio01_3" type="radio" name="radio01" value="3">
											<label for="radio01_3">ALL</label>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">複選</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<span class="checkbox_box">
											<input id="checkbox01_1" type="checkbox" name="checkbox01" value="1">
											<label for="checkbox01_1">複選1</label>
										</span>
										<span class="checkbox_box">
											<input id="checkbox01_2" type="checkbox" name="checkbox01" value="2">
											<label for="checkbox01_2">複選2</label>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-4 col-lg-4 col-sm-12 col-12">輸入按鈕</div>
								<div class="col-xl-8 col-lg-8 col-sm-12 col-12">
									<div class="padding_box">
										<div class="input-button">
											<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">輸入按鈕</button>
											<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">輸入按鈕</button>
											<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">輸入按鈕</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">請選擇批改類別</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<div class="br">
											<span class="checkbox_box">
												<input id="radio02_1" type="radio" name="radio02" value="1" checked>
												<label for="radio02_1">文批</label>
											</span>
											<span class="checkbox_box">
												<input id="radio02_2" type="radio" name="radio02" value="2">
												<label for="radio02_2">文字更正</label>
											</span>
										</div>
										<div class="br">
											<span class="checkbox_box">
												<input id="radio03_1" type="radio" name="radio03" value="1">
												<label for="radio03_1">批加減</label>
											</span>
											<span class="checkbox_box">
												<input id="radio03_2" type="radio" name="radio03" value="2">
												<label for="radio03_2">過戶（文批）</label>
											</span>
											<span class="checkbox_box">
												<input id="radio03_3" type="radio" name="radio03" value="2">
												<label for="radio03_3">過戶（含補加減差額）</label>
											</span>
											<span class="checkbox_box">
												<input id="radio03_4" type="radio" name="radio03" value="2">
												<label for="radio03_4">過戶退保</label>
											</span>
											<span class="checkbox_box">
												<input id="radio03_5" type="radio" name="radio03" value="2">
												<label for="radio03_5">退保</label>
											</span>
											<span class="checkbox_box">
												<input id="radio03_6" type="radio" name="radio03" value="2">
												<label for="radio03_6">註銷保單</label>
											</span>
											<span class="checkbox_box">
												<input id="radio03_7" type="radio" name="radio03" value="2">
												<label for="radio03_7">註銷前張批單</label>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">欲註銷之批單號碼</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<div class="item-input-text">
											<div class="item-text">任意險：</div>
											<div class="input_border">
												<div class="input_padding">
													<input type="text" placeholder="" required>
												</div>
											</div>
										</div>
										<div class="item-input-text">
											<div class="item-text">強制險：</div>
											<div class="input_border">
												<div class="input_padding">
													<input type="text" placeholder="" required>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">申請方式</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<div class="br">
											<span class="checkbox_box">
												<input id="radio04_1" type="radio" name="radio04" value="1">
												<label for="radio04_1">單筆申請</label>
											</span>
											<span class="checkbox_box">
												<input id="radio04_2" type="radio" name="radio04" value="2">
												<label for="radio04_2">批次申請_相同人車</label>
											</span>
										</div>
										<div class="br">
											<div class="annotation">
												<span class="text-color">單筆申請可輸入保單號或強制證號查詢；批次批改可輸入牌照號碼或要被保險人ID查詢</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row justify-content-center bottom_line">
								<div class="input-title col-xl-2 col-lg-2 col-sm-12 col-12">批改種類</div>
								<div class="col-xl-10 col-lg-10 col-sm-12 col-12">
									<div class="padding_box">
										<span class="checkbox_box">
											<input id="radio05_1" type="radio" name="radio05" value="1">
											<label for="radio05_1">資料更正</label>
										</span>
										<span class="checkbox_box">
											<input id="radio05_2" type="radio" name="radio05" value="2">
											<label for="radio05_2">過戶批加減</label>
										</span>
										<span class="checkbox_box">
											<input id="radio05_3" type="radio" name="radio05" value="2">
											<label for="radio05_3">批加減</label>
										</span>
										<span class="checkbox_box">
											<input id="radio05_4" type="radio" name="radio05" value="2">
											<label for="radio05_4">退保/註銷</label>
										</span>
										<span class="checkbox_box">
											<input id="radio05_5" type="radio" name="radio05" value="2">
											<label for="radio05_5">復效</label>
										</span>
										<span class="checkbox_box">
											<input id="radio05_6" type="radio" name="radio05" value="2">
											<label for="radio05_6">還原</label>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="space_height_box"></div>
					<div class="space_height_box"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
								<button class="button bt_color_off" type="reset">清除</button>
							</div>
							<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
								<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">繼續</button>
							</div>
						</div>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-sm-12 col-12">
								<button class="button bt_color_off" type="reset">清除</button>
							</div>
							<div class="col-xl-4 col-lg-4 col-sm-12 col-12">
								<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">繼續</button>
							</div>
							<div class="col-xl-4 col-lg-4 col-sm-12 col-12">
								<button class="button" type="button" onclick="javascript:location.href='xxxx.html'">繼續</button>
							</div>
						</div>
					</div>
					<div class="space_height_box"></div>
					<div class="space_height_box"></div>
					<div class="item_title title s2">查詢結果 無凍結X軸捲動</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="x_scroll css_table">
									<div class="scroll_table">
										<table>
											<thead>
												<tr>
													<th>種類</th>
													<th>保批單號碼</th>
													<th>金額</th>
													<th>收費日</th>
													<th>列印日</th>
													<th>帳務序號</th>
													<th>銷帳日(票據到期日)</th>
													<th>收退款方式</th>
													<th>收費註</th>
													<th>新舊制</th>
													<th>信用卡訂單編號</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>保單</td>
													<td>A123456789</td>
													<td>10,000</td>
													<td>1081231</td>
													<td>1090601</td>
													<td>1090101-0001</td>
													<td>1100101</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td>批單</td>
													<td>A123456789</td>
													<td>10,000</td>
													<td>1081231</td>
													<td>1090601</td>
													<td>1090101-0001</td>
													<td>1100101</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="space_height_box"></div>
					<div class="space_height_box"></div>
					<div class="item_title title s2">查詢結果範本 左側凍結</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="freeze_left css_table">
									<div class="scroll_table">
										<table>
											<thead>
												<tr>
													<th>請勾選</th>
													<th>瀏覽</th>
													<th>修改</th>
													<th>複製</th>
													<th>審核</th>
													<th>刪除</th>
													<th>欄位標題</th>
													<th>列印文件/連結</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="td_button">
														<span class="checkbox_box">
															<input id="checkbox02_1" type="checkbox" name="checkbox02" value="1">
															<label for="checkbox02_1"></label>
														</span>
													</td>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
													</td>
													<td class="td_button">
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
													</td>
													<td class="td_button">
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td class="td_button">
														<a href="">
															<i class="fas fa-user-edit"></i>
														</a>
													</td>
													<td class="td_button">
														<a href="">
															<i class="fas fa-trash-alt"></i>
														</a>
													</td>
													<td>文字內容</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="space_height_box"></div>
					<div class="space_height_box"></div>
					<div class="item_title title s2">查詢結果</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="freeze_left css_table">
									<div class="scroll_table">
										<table>
											<thead>
												<tr>
													<th>請勾選</th>
													<th>保單號碼/強制證號</th>
													<th>被保險人名稱</th>
													<th>被保險人ID</th>
													<th>車號</th>
													<th>保險期間</th>
													<th>經手人</th>
													<th>保源</th>
													<th>洽攬人</th>
													<th>收費註</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="td_button">
														<span class="checkbox_box">
															<input id="checkbox02_1" type="checkbox" name="checkbox02" value="1">
															<label for="checkbox02_1"></label>
														</span>
													</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td>艷陽天</td>
													<td></td>
													<td>好空氣</td>
													<td></td>
												</tr>
												<tr>
													<td class="td_button">
														<span class="checkbox_box">
															<input id="checkbox02_2" type="checkbox" name="checkbox02" value="1">
															<label for="checkbox02_2"></label>
														</span>
													</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td>艷陽天</td>
													<td></td>
													<td>好空氣</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="space_height_box"></div>
					<div class="space_height_box"></div>
					<div class="item_title title s2">查詢結果</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="freeze_left css_table">
									<div class="scroll_table">
										<table>
											<thead>
												<tr>
													<th>功能</th>
													<th>批改申請單號</th>
													<th>保單號碼/強制證號</th>
													<th>被保險人名稱</th>
													<th>被保險人ID</th>
													<th>車號</th>
													<th>保險期間</th>
													<th>批改種類</th>
													<th>申請人</th>
													<th>申請狀態</th>
													<th>審核人員</th>
													<th>收費日</th>
													<th>列印文件</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已申請,未審核 (須審核但未審核)</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已申請,審核中</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">繳費單</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已申請,未建檔(不須審核或已審核完成)</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已建檔(未收),未列印</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已建檔(已收),未列印(不須收費或已收費)</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已建檔,已列印</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>已建檔,審核中</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
												<tr>
													<td class="td_button">
														<a href="">
															<i class="fas fa-eye"></i>
														</a>
														<a href="">
															<i class="fas fa-pencil-alt"></i>
														</a>
														<a href="">
															<i class="fas fa-copy"></i>
														</a>
													</td>
													<td>1090101-0001</td>
													<td>A123456789</td>
													<td>好天氣</td>
													<td>123456</td>
													<td>ABCD-1234</td>
													<td>1090101~1091231</td>
													<td></td>
													<td>好空氣</td>
													<td>失效</td>
													<td>艷陽天</td>
													<td>1081231</td>
													<td>
														<a href="">批改申請書</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="space_height_box"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="padding_box">
									<div class="annotation">
										<p>說明事項</p>
										<ol>
											<li>批改類別為<span class="text-color">過戶批加減</span>時，系統會<span class="text-color">自動連結保發關貿</span>，重新計算新車主年齡性別係數及肇事加減費係數，請確認執行頁面最下面之 保發及關貿序號是否完整。</li>
											<li>批改類別為<span class="text-color">批加減</span>時，系統<span class="text-color">不會自動連結保發關貿</span>，若有新增險種時，請自行上保發關貿查詢後，再輸入執行頁面。</li>
										</ol>
										<p></p>
										<p>說明事項</p>
										<ul>
											<li>批改類別為<span class="text-color">過戶批加減</span>時，系統會<span class="text-color">自動連結保發關貿</span>，重新計算新車主年齡性別係數及肇事加減費係數，請確認執行頁面最下面之 保發及關貿序號是否完整。</li>
											<li>批改類別為<span class="text-color">批加減</span>時，系統<span class="text-color">不會自動連結保發關貿</span>，若有新增險種時，請自行上保發關貿查詢後，再輸入執行頁面。</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>

</html>